@using Microsoft.AspNet.Identity
@{
    Layout = null;
}
<header id="header" style="background:#;">

    <div class="top-bar">
        <div class="top-container">
            <ul id="menu-top-menu" class="top-menu">
                <li id="menu-item-2291" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2291"><a href="#">Terms &#038; Conditions</a></li>
                <li id="menu-item-2292" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-2292"><a href="#">Privacy Policy</a></li>
                <li id="menu-item-2711" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2711"><a href="membership/index.html">Membership</a></li>
            </ul>
            <div class="top-right">
                <ul class="user-account">
                    @if (Request.IsAuthenticated)
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logOut-Form" }))
                        {
                            @Html.AntiForgeryToken()
                                    <li><a href="javascript:document.getElementById('logOut-Form').submit()" class="fa fa-user">Sign Out</a></li>
                        }
                     }
                    else
                    {
                        <li><a class="fa fa-user" href="@Url.Action("Login", "Account")">Login</a></li>
                    }
                </ul >
                <span class="fa fa-phone-square"> </span> 1 (800) 567 8765
            </div>
        </div>
    </div>

    <!-- **Header Container** -->
    <div class="container">
        <!-- **Logo - End** -->
        <div id = "logo" >
            <a href="http://wedesignthemes.com/themes/dt-realestate" title="RealEstate">
                <img class="normal_logo" src="~/wp-content/themes/realestate/images/logo.png" alt="RealEstate" title="RealEstate" id="dt_logo" />
                <img class="retina_logo" src="~/wp-content/themes/realestate/images/logo%402x.png" alt="RealEstate" title="RealEstate" style="width:98px; height:99px;" id="dt_retina_logo" />
            </a>
        </div><!-- **Logo - End** -->
        <!-- **Navigation** -->
        <div id = "primary-menu" >
            <nav id="main-menu">
                <ul id = "menu-header-menu" class="menu">
                    <li id = "menu-item-2375" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-2345 current_page_item menu-item-has-children menu-item-depth-0 menu-item-simple-parent ">
                        <a href = "/Home/index" > Home </ a ><span class="arrow"> </span>

                        @*<ul class="sub-menu">
                                <li id="menu-item-2460" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="home-layout-2/index.html">Home Layout 2</a></li>
                                <li id="menu-item-2621" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="home-layout-3/index.html">Home Layout 3</a></li>
                                <li id="menu-item-2694" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="home-layout-4/index.html">Home Layout 4</a></li>
                            </ul>*@
                    </li>
                    <li id="menu-item-2776" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-0 menu-item-simple-parent">
                        <a href="/Home/Properties">Properties</a><span class="arrow"> </span>
                            @*<ul class="sub-menu">*@
                                @*<li id="menu-item-2301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-1">*@
                                    <ul class="sub-menu">
                                        <li id="menu-item-2306" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Apartment</a></li>
                                        <li id="menu-item-2299" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Building Area</a></li>
                                        <li id="menu-item-2300" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Commercial</a></li>
                                        <li id="menu-item-2315" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Condo</a></li>
                                        <li id="menu-item-2316" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Cottage</a></li>
                                        <li id="menu-item-2317" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Single Family</a></li>
                                        <li id="menu-item-2318" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Villa</a></li>  
                                    </ul>
                                @*</li>*@
                          @*</ul>*@
                   
                         @*<div class='megamenu-child-container'>
                            <ul class="sub-menu">
                                <li id="menu-item-2301" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-1">
                                    <a href="/Home/PropertiesIIColumnWithoutsidebar">II Column</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/PropertiesIIColumnWithoutsidebar">Fullwidth</a></li>
                                        <li id="menu-item-2299" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/PropertiesIIColumnWithRightsidebar">With Right Sidebar</a></li>
                                        <li id="menu-item-2300" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/PropertiesIIColumnWithLeftsidebar">With Left Sidebar</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2298" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-1">
                                    <a href="/Home/PropertiesIIIColumnWithoutsidebar">III Column</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2308" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/PropertiesIIIColumnWithoutsidebar">Fullwidth</a></li>
                                        <li id="menu-item-2296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/PropertiesIIIColumnWithRightsidebar">With Right Sidebar</a></li>
                                        <li id="menu-item-2297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/PropertiesIIIColumnWithLeftsidebar">With Left Sidebar</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2304" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-1">
                                    <a href="/Home/PropertiesIVColumnWithoutsidebar">IV Column</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2307" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/PropertiesIVColumnWithoutsidebar">Fullwidth</a></li>
                                        <li id="menu-item-2293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/PropertiesIVColumnWithRightsidebar">With Right Sidebar</a></li>
                                        <li id="menu-item-2294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/PropertiesIVColumnWithLeftsidebar">With Left Sidebar</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2651" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1"><span class="nolink-menu" />Fullwidth Image</span><div class='dt-megamenu-custom-content'><img src="/wp-content/uploads/2014/04/property-img.jpg" alt="" title="" /></div></li>
                            </ul>
                        </div>*@
                    </li>
                    @*<li id="menu-item-2339" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-0 menu-item-simple-parent ">
                            <a href="idx.html">IDX</a><span class="arrow"> </span>

                            <ul class="sub-menu">
                                <li id="menu-item-2340" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1"><a href="idx.html">IDX Listing</a></li>
                                <li id="menu-item-2341" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1"><a href="idx/mls-20649469-100_sunny_st_newport_beach_ca_92707.html">IDX Single Listing</a></li>
                                <li id="menu-item-2343" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="idx-listing-shortcode/index.html">IDX Listing Shortcode</a></li>
                                <li id="menu-item-2342" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="idx-single-listing-shortcode/index.html">IDX Single Listing Shortcode</a></li>
                            </ul>
                        </li>*@
                    <li id="menu-item-2579" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-0 menu-item-simple-parent ">
                        <a href="#">Pages</a><span class="arrow"> </span>

                        <ul class="sub-menu">
                            <li id="menu-item-2578" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="/Home/AboutUs">About Us</a></li>
                            @*<li id="menu-item-2566" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-1">
                                    <a href="header-type-1/index.html">Header Types</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="header-type-1/index.html">Header Type 1</a></li>
                                        <li id="menu-item-2564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="header-type-2/index.html">Header Type 2</a></li>
                                        <li id="menu-item-2563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="header-type-3/index.html">Header Type 3</a></li>
                                        <li id="menu-item-2562" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="header-type-4/index.html">Header Type 4</a></li>
                                    </ul>
                                </li>*@
                            <li id="menu-item-2331" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1"><a href="/Home/Agent">Agents</a></li>
                            <li id="menu-item-2332" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-1"><a href="/Home/Agencies">Agencies</a></li>
                            <li id="menu-item-2319" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                <a href="#">Locations</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-2320" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Adelaide</a></li>
                                    <li id="menu-item-2321" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Calgary</a></li>
                                    <li id="menu-item-2322" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Cessnock</a></li>
                                    <li id="menu-item-2323" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Helsinki</a></li>
                                    <li id="menu-item-2324" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Melbourne</a></li>
                                    <li id="menu-item-2325" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="#">Sydney</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    @*<li id="menu-item-2479" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-0 menu-item-megamenu-parent  megamenu-3-columns-group">
                            <a href="shortcodes/index.html">Shortcodes</a><span class="arrow"> </span>
                            <div class='megamenu-child-container'>
                                <ul class="sub-menu">
                                    <li id="menu-item-2539" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                        <a href="#">Shortcodes I</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-2500" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/buttons/index.html">Buttons</a></li>
                                            <li id="menu-item-2487" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/tabs-toggles/index.html">Tabs &#038; Toggles</a></li>
                                            <li id="menu-item-2502" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/typography/index.html">Typography</a></li>
                                            <li id="menu-item-2501" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/columns/index.html">Columns</a></li>
                                            <li id="menu-item-2490" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/quotes/index.html">Quotes</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-2540" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                        <a href="#">Shortcodes II</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-2499" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/dropcap/index.html">Dropcap</a></li>
                                            <li id="menu-item-2492" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/highlighters/index.html">Highlighters</a></li>
                                            <li id="menu-item-2484" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/fancy-boxes/index.html">Fancy Boxes</a></li>
                                            <li id="menu-item-2491" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/progress-bars/index.html">Progress Bars</a></li>
                                            <li id="menu-item-2488" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/icon-content/index.html">Icon Content</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-item-2541" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                        <a href="#">Shortcodes III</a>
                                        <ul class="sub-menu">
                                            <li id="menu-item-2586" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/carousels/index.html">Carousels</a></li>
                                            <li id="menu-item-2481" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/pricing-tables/index.html">Pricing Tables</a></li>
                                            <li id="menu-item-2483" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/ordered-lists/index.html">Ordered Lists</a></li>
                                            <li id="menu-item-2482" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/unordered-lists/index.html">Unordered Lists</a></li>
                                            <li id="menu-item-2489" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="shortcodes/miscellaneous/index.html">Miscellaneous</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>*@
                    <li id="menu-item-2503" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-0 menu-item-simple-parent ">
                        <a href="/Home/blogIIColumnWithoutsidebar">Blog</a><span class="arrow"> </span>

                        @*<ul class="sub-menu">
                            <li id="menu-item-2504" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                <a href="/Home/blogIColumnWithoutsidebar">I Column</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-2495" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/blogIColumnWithoutsidebar">Without Sidebar</a></li>
                                    <li id="menu-item-2493" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/blogIColumnWithLeftsidebar">With Left Sidebar</a></li>
                                    <li id="menu-item-2494" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/blogIColumnWithRightsidebar">With Right Sidebar</a></li>
                                </ul>
                            </li>
                            <li id="menu-item-2505" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                <a href="/Home/blogIIColumnWithoutsidebar">II Column</a>
                                <ul class="sub-menu">
                                    <li id="menu-item-2498" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/blogIIColumnWithoutsidebar">Without Sidebar</a></li>
                                    <li id="menu-item-2496" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/blogIIColumnWithLeftsidebar">With Left Sidebar</a></li>
                                    <li id="menu-item-2497" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="/Home/blogIIColumnWithRightsidebar">With Right Sidebar</a></li>
                                </ul>
                            </li>
                        </ul>*@
                    </li>
                    @*<li id="menu-item-2519" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-0 menu-item-simple-parent ">
                            <a href="portfolio-i-column-without-sidebar/index.html">Portfolio</a><span class="arrow"> </span>

                            <ul class="sub-menu">
                                <li id="menu-item-2518" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                    <a href="portfolio-i-column-without-sidebar/index.html">I Column</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2508" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="portfolio-i-column-without-sidebar/index.html">Fullwidth</a></li>
                                        <li id="menu-item-2506" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="portfolio-i-column-with-left-sidebar/index.html">With Left Sidebar</a></li>
                                        <li id="menu-item-2507" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="portfolio-i-column-with-right-sidebar/index.html">With Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2520" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                    <a href="portfolio-ii-column-without-sidebar/index.html">II Column</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2511" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="portfolio-ii-column-without-sidebar/index.html">Fullwidth</a></li>
                                        <li id="menu-item-2509" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="portfolio-ii-column-with-left-sidebar/index.html">With Left Sidebar</a></li>
                                        <li id="menu-item-2510" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="portfolio-ii-column-with-right-sidebar/index.html">With Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2521" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                    <a href="portfolio-iii-column-without-sidebar/index.html">III Column</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2514" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="portfolio-iii-column-without-sidebar/index.html">Fullwidth</a></li>
                                        <li id="menu-item-2512" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="portfolio-iii-column-with-left-sidebar/index.html">With Left Sidebar</a></li>
                                        <li id="menu-item-2513" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="portfolio-iii-column-with-right-sidebar/index.html">With Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2522" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                    <a href="portfolio-iv-column-without-sidebar/index.html">IV Column</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2517" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="portfolio-iv-column-without-sidebar/index.html">Fullwidth</a></li>
                                        <li id="menu-item-2515" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="portfolio-iv-column-with-left-sidebar/index.html">With Left Sidebar</a></li>
                                        <li id="menu-item-2516" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="portfolio-iv-column-with-right-sidebar/index.html">With Right Sidebar</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2643" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                    <a href="dt_portfolios/beautiful-house/index.html">Portfolio Single</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2644" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="dt_portfolios/beautiful-house/index.html">Fullwidth</a></li>
                                        <li id="menu-item-2645" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="dt_portfolios/house-interior/index.html">Left Gallery</a></li>
                                        <li id="menu-item-2646" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-depth-2"><a href="dt_portfolios/grand-avenue/index.html">Right Gallery</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>*@
                    @*<li id="menu-item-2818" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-0 menu-item-simple-parent ">
                            <a href="gallery-iv-column/index.html">Gallery</a><span class="arrow"> </span>

                            <ul class="sub-menu">
                                <li id="menu-item-2819" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                    <a href="#">II Column</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2817" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="gallery-ii-column/index.html">Without Sidebar</a></li>
                                        <li id="menu-item-2815" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="gallery-ii-column-with-right-sidebar/index.html">With Right Sidebar</a></li>
                                        <li id="menu-item-2816" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="gallery-ii-column-with-left-sidebar/index.html">With Left Sidebar</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2820" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                    <a href="#">III Column</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2814" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="gallery-iii-column/index.html">Without Sidebar</a></li>
                                        <li id="menu-item-2812" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="gallery-iii-column-with-right-sidebar/index.html">With Right Sidebar</a></li>
                                        <li id="menu-item-2813" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="gallery-iii-column-with-left-sidebar/index.html">With Left Sidebar</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-2821" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-depth-1">
                                    <a href="#">IV Column</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-2811" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="gallery-iv-column/index.html">Without Sidebar</a></li>
                                        <li id="menu-item-2809" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="gallery-iv-column-with-right-sidebar/index.html">With Right Sidebar</a></li>
                                        <li id="menu-item-2810" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-2"><a href="gallery-iv-column-with-left-sidebar/index.html">With Left Sidebar</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>*@
                    <li id="menu-item-2528" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-depth-0 menu-item-simple-parent ">
                        <a href="/Home/ContactUs">Contact</a><span class="arrow"> </span>

                        @*<ul class="sub-menu">
                                <li id="menu-item-2599" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="contact-us-layout-2/index.html">Contact Layout 2</a></li>
                                <li id="menu-item-2602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-depth-1"><a href="contact-us-layout-3/index.html">Contact Layout 3</a></li>
                            </ul>*@
                    </li>
                </ul>
            </nav><!-- **Navigation - End** -->
        </div>

    </div><!-- **Header Container End** -->

</header><!-- **Header - End** -->
