
@{
    Layout = null;
}
<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7" lang="en-US"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7" lang="en-US"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8" lang="en-US"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9" lang="en-US"> <![endif]-->
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]><!-->
<html lang="en-US">
 <!--<![endif]-->
<!-- Mirrored from wedesignthemes.com/themes/dt-realestate/blog-ii-column-with-right-sidebar/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 12 Feb 2017 16:43:52 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1' />
    <title>Blog II Column With Right Sidebar | RealEstate</title>
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="../xmlrpc.php" />

    <script type='text/javascript'>
	var mytheme_urls = {
		 theme_base_url:'http://wedesignthemes.com/themes/dt-realestate/wp-content/themes/realestate/'
 		,framework_base_url:'http://wedesignthemes.com/themes/dt-realestate/wp-content/themes/realestate/framework/'
 		,ajaxurl:'http://wedesignthemes.com/themes/dt-realestate/wp-admin/admin-ajax.php'
 		,url:'http://wedesignthemes.com/themes/dt-realestate'
 		,stickynav:'enable'
 		,scroll:'enable'
 		,isRTL:''
	};
    </script>
    <link href='../wp-content/themes/realestate/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
    <link href='../wp-content/themes/realestate/images/apple-touch-icon.html' rel='apple-touch-icon-precomposed' />
    <link href='../wp-content/themes/realestate/images/apple-touch-icon-114x114.html' sizes='114x114' rel='apple-touch-icon-precomposed' />
    <link href='../wp-content/themes/realestate/images/apple-touch-icon-72x72.html' sizes='72x72' rel='apple-touch-icon-precomposed' />
    <link href='../wp-content/themes/realestate/images/apple-touch-icon-144x144.html' sizes='114x114' rel='apple-touch-icon-precomposed' />
    <!-- All in One SEO Pack 2.3.9.1 by Michael Torbert of Semper Fi Web Design[544,587] -->
    <link rel="canonical" href="index.html" />
    <!-- /all in one seo pack -->
    <link rel="alternate" type="application/rss+xml" title="RealEstate &raquo; Feed" href="../feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="RealEstate &raquo; Comments Feed" href="../comments/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="RealEstate &raquo; Blog II Column With Right Sidebar Comments Feed" href="feed/index.html" />
    <script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/wedesignthemes.com\/themes\/dt-realestate\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.3"}};
			!function(a,b,c){function d(a){var c,d,e,f=b.createElement("canvas"),g=f.getContext&&f.getContext("2d"),h=String.fromCharCode;if(!g||!g.fillText)return!1;switch(g.textBaseline="top",g.font="600 32px Arial",a){case"flag":return g.fillText(h(55356,56806,55356,56826),0,0),f.toDataURL().length>3e3;case"diversity":return g.fillText(h(55356,57221),0,0),c=g.getImageData(16,16,1,1).data,d=c[0]+","+c[1]+","+c[2]+","+c[3],g.fillText(h(55356,57221,55356,57343),0,0),c=g.getImageData(16,16,1,1).data,e=c[0]+","+c[1]+","+c[2]+","+c[3],d!==e;case"simple":return g.fillText(h(55357,56835),0,0),0!==g.getImageData(16,16,1,1).data[0];case"unicode8":return g.fillText(h(55356,57135),0,0),0!==g.getImageData(16,16,1,1).data[0]}return!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g,h,i;for(i=Array("simple","flag","unicode8","diversity"),c.supports={everything:!0,everythingExceptFlag:!0},h=0;h<i.length;h++)c.supports[i[h]]=d(i[h]),c.supports.everything=c.supports.everything&&c.supports[i[h]],"flag"!==i[h]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[i[h]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='dt-sc-css-css' href='../wp-content/plugins/designthemes-core-features/shortcodes/css/shortcodes62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-sc-tip1-css' href='../wp-content/plugins/designthemes-core-features/shortcodes/js/tooltip/tooltipster62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-sc-tip2-css' href='../wp-content/plugins/designthemes-core-features/shortcodes/js/tooltip/themes/tooltipster-shadow62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-sc-colorboxcss-css' href='../wp-content/plugins/designthemes-core-features/shortcodes/css/colorbox62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-animations-css' href='../wp-content/plugins/designthemes-core-features/page-builder/css/animations62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidx-css' href='http://cdn1.diverse-cdn.com/api/combo-css/config=dsidxpress.css/b3f2e8' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxpress-icons-css' href='../wp-content/plugins/dsidxpress/css/dsidx-icons62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxpress-unconditional-css' href='../wp-content/plugins/dsidxpress/css/client62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxwidgets-unconditional-css' href='../wp-content/plugins/dsidxpress/dsidxwidgets/css/client62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='../wp-content/plugins/contact-form-7/includes/css/stylesc1f9.css?ver=4.4.2' type='text/css' media='all' />
    <link rel='stylesheet' id='resmap_css-css' href='../wp-content/plugins/responsive-maps-plugin/includes/css/resmap.mine735.css?ver=3.4' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='../wp-content/plugins/revslider/public/assets/css/settings5223.css?ver=5.2.6' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='prettyphoto-css' href='../wp-content/themes/realestate/css/prettyPhoto62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='default-css' href='../wp-content/themes/realestate/style62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='skin-css' href='../wp-content/themes/realestate/skins/green/style62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-font-awesome-css' href='../../../../netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.minbfce.css?ver=4.1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='responsive-css' href='../wp-content/themes/realestate/css/responsive62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='mytheme-google-fonts-css' href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,700|Arvo:400,700&amp;subset' type='text/css' media='all' />
    <link rel='stylesheet' id='ws-plugin--s2member-css' href='../wp-content/plugins/s2member/s2member-ob29a.css?ws_plugin__s2member_css=1&amp;qcABC=1&amp;ver=160503-2358678001' type='text/css' media='all' />
    <!--[if IE]>
       <style type="text/css" media="screen">
               .dt-sc-ico-content.type1 .icon span, .product-overlay a, .product-overlay a span, h5.faq:before, .carousel-arrows a, .testimonial .author img, .testimonial .author, #secondary .widget h3.widgettitle a:before, .portfolio .image-overlay a, .portfolio .image-overlay a span, .dt-sc-team .dt-sc-social-icons li {
                   behavior: url(http://wedesignthemes.com/themes/dt-realestate/wp-content/themes/realestate/PIE.php);
                  }
        </style>
        <![endif]-->
    <script type='text/javascript' src='../wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='../wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript' src='../wp-includes/js/plupload/plupload.full.mincc91.js?ver=2.1.8'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var dsidxAjaxHandler = {"ajaxurl":"http:\/\/wedesignthemes.com\/themes\/dt-realestate\/wp-admin\/admin-ajax.php"};
/* ]]> */
    </script>
    <script type='text/javascript' src='http://cdn1.diverse-cdn.com/api/combo-js/config=dsidxpress.js/d4c7fb?ver=2.1.40'></script>
    <script type='text/javascript' src='../wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min5223.js?ver=5.2.6'></script>
    <script type='text/javascript' src='../wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min5223.js?ver=5.2.6'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/modernizr-2.6.2.min62d0.js?ver=4.5.3'></script>
    <style type="text/css">
        nav#main-menu ul li a, .mobile-menu {
            font-family: Lato,sans-serif;
        }

        body {
            font-family: Lato, sans-serif;
        }

        H1 {
            font-family: Lato;
        }

        H2 {
            font-family: Lato;
        }

        H3 {
            font-family: Lato;
        }

        H4 {
            font-family: Lato;
        }

        H5 {
            font-family: Lato;
        }

        H6 {
            font-family: Lato;
        }
    </style>
    <link rel='https://api.w.org/' href='../wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="../xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="../wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.3" />
    <link rel='shortlink' href='../indexee0c.html?p=2132' />
    <link rel="alternate" type="application/json+oembed" href="../wp-json/oembed/1.0/embed5fc8.json?url=http%3A%2F%2Fwedesignthemes.com%2Fthemes%2Fdt-realestate%2Fblog-ii-column-with-right-sidebar%2F" />
    <link rel="alternate" type="text/xml+oembed" href="../wp-json/oembed/1.0/embed31c1?url=http%3A%2F%2Fwedesignthemes.com%2Fthemes%2Fdt-realestate%2Fblog-ii-column-with-right-sidebar%2F&amp;format=xml" />
    <meta name="generator" content="Powered by Slider Revolution 5.2.6 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">
				if (typeof localdsidx == "undefined" || !localdsidx) { var localdsidx = {}; };
				localdsidx.pluginUrl = "../wp-content/plugins/dsidxpress/index.html";
				localdsidx.homeUrl = "http://wedesignthemes.com/themes/dt-realestate";
    </script>
    <script type="text/javascript">
				if (typeof localdsidx == "undefined" || !localdsidx) { var localdsidx = {}; };
				localdsidx.pluginUrl = "../wp-content/plugins/dsidxpress/index.html";
				localdsidx.homeUrl = "http://wedesignthemes.com/themes/dt-realestate";
    </script>
</head>
<body class="page page-id-2132 page-template page-template-tpl-blog page-template-tpl-blog-php">
    <!-- **Property Style Picker Wrapper** --><div class="property-style-picker-wrapper">	<a href="#" title="" class="style-picker-ico"> <img src="../wp-content/themes/realestate/images/style-picker/picker-icon.png" alt="" title="" /> </a>	<div id="property-style-picker">   	<h2>Select Your Style</h2>       <h3>Choose your layout</h3>		<ul class="layout-picker">       	<li> <a id="fullwidth" href="#" title="" class="selected"> <img src="../wp-content/themes/realestate/images/style-picker/fullwidth.jpg" alt="" title="" width="71" height="49" /> </a> </li>       	<li> <a id="boxed" href="#" title=""> <img src="../wp-content/themes/realestate/images/style-picker/boxed.jpg" alt="" title="" width="71" height="49" /> </a> </li>		</ul>		<div class="hr"> </div>		<div id="pattern-holder" style="display:none;">			<h3>Patterns for Boxed Layout</h3>			<ul class="pattern-picker"><li><a id='pattern9' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern9.jpg' alt='pattern9' title='pattern9' width='30' height='30' /></a></li><li><a id='pattern3' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern3.jpg' alt='pattern3' title='pattern3' width='30' height='30' /></a></li><li><a id='pattern4' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern4.jpg' alt='pattern4' title='pattern4' width='30' height='30' /></a></li><li><a id='pattern8' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern8.jpg' alt='pattern8' title='pattern8' width='30' height='30' /></a></li><li><a id='pattern14' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern14.jpg' alt='pattern14' title='pattern14' width='30' height='30' /></a></li><li><a id='pattern7' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern7.jpg' alt='pattern7' title='pattern7' width='30' height='30' /></a></li><li><a id='pattern10' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern10.jpg' alt='pattern10' title='pattern10' width='30' height='30' /></a></li><li><a id='pattern1' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern1.jpg' alt='pattern1' title='pattern1' width='30' height='30' /></a></li><li><a id='pattern12' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern12.jpg' alt='pattern12' title='pattern12' width='30' height='30' /></a></li><li><a id='pattern5' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern5.jpg' alt='pattern5' title='pattern5' width='30' height='30' /></a></li><li><a id='pattern15' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern15.jpg' alt='pattern15' title='pattern15' width='30' height='30' /></a></li><li><a id='pattern13' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern13.jpg' alt='pattern13' title='pattern13' width='30' height='30' /></a></li><li><a id='pattern11' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern11.jpg' alt='pattern11' title='pattern11' width='30' height='30' /></a></li><li><a id='pattern6' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern6.jpg' alt='pattern6' title='pattern6' width='30' height='30' /></a></li><li><a id='pattern2' href='#' title=''><img src='../wp-content/themes/realestate/images/style-picker/patterns/pattern2.jpg' alt='pattern2' title='pattern2' width='30' height='30' /></a></li>			</ul>			<div class="hr"> </div>		</div>		<h3>Color scheme</h3>		<ul class="color-picker"><li><a id="blue" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/blue.jpg" alt="color-blue" title="color-blue" width="30" height="30" /></a></li><li><a id="chocolate" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/chocolate.jpg" alt="color-chocolate" title="color-chocolate" width="30" height="30" /></a></li><li><a id="coral" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/coral.jpg" alt="color-coral" title="color-coral" width="30" height="30" /></a></li><li><a id="cyan" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/cyan.jpg" alt="color-cyan" title="color-cyan" width="30" height="30" /></a></li><li><a id="eggplant" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/eggplant.jpg" alt="color-eggplant" title="color-eggplant" width="30" height="30" /></a></li><li><a id="electricblue" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/electricblue.jpg" alt="color-electricblue" title="color-electricblue" width="30" height="30" /></a></li><li><a id="ferngreen" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/ferngreen.jpg" alt="color-ferngreen" title="color-ferngreen" width="30" height="30" /></a></li><li><a id="gold" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/gold.jpg" alt="color-gold" title="color-gold" width="30" height="30" /></a></li><li><a id="green" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/green.jpg" alt="color-green" title="color-green" width="30" height="30" /></a></li><li><a id="grey" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/grey.jpg" alt="color-grey" title="color-grey" width="30" height="30" /></a></li><li><a id="khaki" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/khaki.jpg" alt="color-khaki" title="color-khaki" width="30" height="30" /></a></li><li><a id="ocean" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/ocean.jpg" alt="color-ocean" title="color-ocean" width="30" height="30" /></a></li><li><a id="orange" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/orange.jpg" alt="color-orange" title="color-orange" width="30" height="30" /></a></li><li><a id="palebrown" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/palebrown.jpg" alt="color-palebrown" title="color-palebrown" width="30" height="30" /></a></li><li><a id="pink" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/pink.jpg" alt="color-pink" title="color-pink" width="30" height="30" /></a></li><li><a id="purple" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/purple.jpg" alt="color-purple" title="color-purple" width="30" height="30" /></a></li><li><a id="raspberry" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/raspberry.jpg" alt="color-raspberry" title="color-raspberry" width="30" height="30" /></a></li><li><a id="red" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/red.jpg" alt="color-red" title="color-red" width="30" height="30" /></a></li><li><a id="skyblue" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/skyblue.jpg" alt="color-skyblue" title="color-skyblue" width="30" height="30" /></a></li><li><a id="slateblue" href="#" title=""><img src="../wp-content/themes/realestate/images/style-picker/slateblue.jpg" alt="color-slateblue" title="color-slateblue" width="30" height="30" /></a></li>		</ul>	</div></div><!-- **Property Style Picker Wrapper - End** -->
    <!-- **Wrapper** -->
    <div class="wrapper">


        <div id="header-wrapper">
            <!-- **Header** -->
            @{Html.RenderPartial("~/Views/Home/_Header.cshtml");}<!-- **Header - End** -->
        </div><!-- Header Wrapper -->
        <!-- **Main** -->
        <!--<div id="main">-->
        <!-- ** Title Fullwidth Background ** --><section class='breadcrumb-section dark-bg' style=' background:url(../wp-content/uploads/2014/04/breadcrump-bg.jpg) top left repeat;'><div class='breadcrumb-wrapper'>
            <div class="container">
                <h1 class='page-title'>Blog II Column With Right Sidebar</h1><div class="breadcrumb">
                    <a href="http://wedesignthemes.com/themes/dt-realestate">Home</a><span class="fa default">  </span><h2>Blog II Column With Right Sidebar</h2>
                </div>
            </div>
        </div></section><!-- ** Title Fullwidth Background End ** -->
        <div id="main">
            <div id="main-container" class="container">

                <!-- **Primary Section** -->
                <section id="primary" class="with-right-sidebar">
                    <!-- #post-2132 -->
                    <div id="post-2132" class="post-2132 page type-page status-publish hentry">
                    </div><!-- #post-2132 -->

                    <div class="clear"></div>

                    <div class="blog-isotope">
                        <!--- Start loop to show blog posts -->

                        <div class=" column dt-sc-one-half with-sidebar first">
                            <!-- **Blog Entry** -->
                            <article class="blog-entry post-486 post type-post status-publish format-image has-post-thumbnail sticky hentry category-post-format-audio category-retail tag-creative tag-design tag-news-2 post_format-post-format-image">

                                <div class="entry-thumb-meta">
                                    <div class="entry-thumb">

                                        <!-- POST FORMAT STARTS -->
                                        <a href="../image-minus-id-quod/index.html" title="Image &#8211; Minus id quod">
                                            <img src='../wp-content/uploads/2014/04/blog1-378x218.jpg' width='378' height='218' />
                                        </a>
                                        <!-- POST FORMAT ENDS -->

                                    </div>


                                    <div class="entry-meta ">
                                        <span class="post-icon-format"> </span>

                                        <div class="date ">
                                            <span class="fa fa-calendar"> </span><p>Jan 28 2014</p>
                                        </div>

                                        <a href="../image-minus-id-quod/index.html#respond" class="comments"><span class="fa fa-comments"> </span> 0</a>

                                        <a class="" title="ram"
                                           href="../author/ram/index.html"><span class="fa fa-user"> </span>ram</a>

                                        <span class="rounded-bend"> </span>
                                        <div class="featured-post"> Featured </div>

                                    </div><!-- .entry-meta end -->

                                </div><!-- .entry-thumb-meta -->

                                <div class="entry-details">

                                    <!-- .post-title -->

                                    <div class="entry-title">
                                        <h4>
                                            <a href="../image-minus-id-quod/index.html" title="Image &#8211; Minus id quod">
                                                Image &#8211; Minus id quod
                                            </a>
                                        </h4>
                                    </div><!-- .entry-title -->

                                    <div class="entry-metadata ">
                                        <div class="tags"><span class="fa fa-tags"> </span><a href="../tag/creative/index.html" rel="tag">creative</a>, <a href="../tag/design/index.html" rel="tag">design</a>, <a href="../tag/news-2/index.html" rel="tag">news</a></div>                                                	                                                			<div class="categories"><span class="fa fa-thumb-tack"> </span><a href="../category/post-format-audio/index.html" rel="category tag">Audio</a>, <a href="../category/retail/index.html" rel="category tag">Retail</a></div>
                                    </div><!-- .entry-meta -->

                                    <div class="entry-body">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo...</p>                                                <a href="../image-minus-id-quod/index.html" title="Image &#8211; Minus id quod" class="read-more">
                                            Read More <span class="fa fa-angle-double-right"> </span>
                                        </a>
                                    </div><!-- .entry-body -->

                                </div><!-- .entry-details -->

                            </article><!-- **Blog Entry - End** -->
                            <div class="hr"> </div>
                        </div>

                        <div class=" column dt-sc-one-half with-sidebar">
                            <!-- **Blog Entry** -->
                            <article class="blog-entry post-484 post type-post status-publish format-gallery hentry category-post-format-audio category-cottage category-retail tag-blog-2 tag-chat post_format-post-format-gallery">

                                <div class="entry-thumb-meta">
                                    <div class="entry-thumb">

                                        <!-- POST FORMAT STARTS -->
                                        <ul class='entry-gallery-post-slider'><li><img src='../wp-content/uploads/2014/04/blog2-378x218.jpg' width='378' height='218' /></li><li><img src='../wp-content/uploads/2014/04/blog3-378x218.jpg' width='378' height='218' /></li><li><img src='../wp-content/uploads/2014/04/blog4-378x218.jpg' width='378' height='218' /></li></ul>                                            <!-- POST FORMAT ENDS -->

                                    </div>


                                    <div class="entry-meta ">
                                        <span class="post-icon-format"> </span>

                                        <div class="date ">
                                            <span class="fa fa-calendar"> </span><p>Jan 28 2014</p>
                                        </div>

                                        <span class="comments"><span class="fa fa-comments-off"> </span></span>

                                        <a class="" title="ram"
                                           href="../author/ram/index.html"><span class="fa fa-user"> </span>ram</a>

                                        <span class="rounded-bend"> </span>

                                    </div><!-- .entry-meta end -->

                                </div><!-- .entry-thumb-meta -->

                                <div class="entry-details">

                                    <!-- .post-title -->

                                    <div class="entry-title">
                                        <h4>
                                            <a href="../gallery-cumque-nihil-impedit/index.html" title="Gallery &#8211; Cumque nihil impedit">
                                                Gallery &#8211; Cumque nihil impedit
                                            </a>
                                        </h4>
                                    </div><!-- .entry-title -->

                                    <div class="entry-metadata ">
                                        <div class="tags"><span class="fa fa-tags"> </span><a href="../tag/blog-2/index.html" rel="tag">blog</a>, <a href="../tag/chat/index.html" rel="tag">chat</a></div>                                                	                                                			<div class="categories"><span class="fa fa-thumb-tack"> </span><a href="../category/post-format-audio/index.html" rel="category tag">Audio</a>, <a href="../category/cottage/index.html" rel="category tag">Cottage</a>, <a href="../category/retail/index.html" rel="category tag">Retail</a></div>
                                    </div><!-- .entry-meta -->

                                    <div class="entry-body">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo...</p>                                                <a href="../gallery-cumque-nihil-impedit/index.html" title="Gallery &#8211; Cumque nihil impedit" class="read-more">
                                            Read More <span class="fa fa-angle-double-right"> </span>
                                        </a>
                                    </div><!-- .entry-body -->

                                </div><!-- .entry-details -->

                            </article><!-- **Blog Entry - End** -->
                            <div class="hr"> </div>
                        </div>

                        <div class=" column dt-sc-one-half with-sidebar first">
                            <!-- **Blog Entry** -->
                            <article class="blog-entry post-482 post type-post status-publish format-status has-post-thumbnail hentry category-apartment category-magazine category-retail tag-blog-2 tag-chat post_format-post-format-status">

                                <div class="entry-thumb-meta">
                                    <div class="entry-thumb">

                                        <!-- POST FORMAT STARTS -->
                                        <a href="../latin-words-ipsum/index.html" title="Latin words Ipsum"><img src='../wp-content/uploads/2014/04/blog11-378x218.jpg' width='378' height='218' />                                                    </a>
                                        <!-- POST FORMAT ENDS -->

                                    </div>


                                    <div class="entry-meta ">
                                        <span class="post-icon-format"> </span>

                                        <div class="date ">
                                            <span class="fa fa-calendar"> </span><p>Jan 28 2014</p>
                                        </div>

                                        <a href="../latin-words-ipsum/index.html#comments" class="comments"><span class="fa fa-comments"> </span> 3</a>

                                        <a class="" title="ram"
                                           href="../author/ram/index.html"><span class="fa fa-user"> </span>ram</a>

                                        <span class="rounded-bend"> </span>

                                    </div><!-- .entry-meta end -->

                                </div><!-- .entry-thumb-meta -->

                                <div class="entry-details">

                                    <!-- .post-title -->

                                    <div class="entry-title">
                                        <h4>
                                            <a href="../latin-words-ipsum/index.html" title="Latin words Ipsum">
                                                Latin words Ipsum
                                            </a>
                                        </h4>
                                    </div><!-- .entry-title -->

                                    <div class="entry-metadata ">
                                        <div class="tags"><span class="fa fa-tags"> </span><a href="../tag/blog-2/index.html" rel="tag">blog</a>, <a href="../tag/chat/index.html" rel="tag">chat</a></div>                                                	                                                			<div class="categories"><span class="fa fa-thumb-tack"> </span><a href="../category/apartment/index.html" rel="category tag">Apartment</a>, <a href="../category/magazine/index.html" rel="category tag">Magazine</a>, <a href="../category/retail/index.html" rel="category tag">Retail</a></div>
                                    </div><!-- .entry-meta -->

                                    <div class="entry-body">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo...</p>                                                <a href="../latin-words-ipsum/index.html" title="Latin words Ipsum" class="read-more">
                                            Read More <span class="fa fa-angle-double-right"> </span>
                                        </a>
                                    </div><!-- .entry-body -->

                                </div><!-- .entry-details -->

                            </article><!-- **Blog Entry - End** -->
                            <div class="hr"> </div>
                        </div>

                        <div class=" column dt-sc-one-half with-sidebar">
                            <!-- **Blog Entry** -->
                            <article class="blog-entry post-480 post type-post status-publish format-quote has-post-thumbnail hentry category-post-format-audio category-cottage category-retail tag-chat tag-creative post_format-post-format-quote">

                                <div class="entry-thumb-meta">
                                    <div class="entry-thumb">

                                        <!-- POST FORMAT STARTS -->
                                        <a href="../latin-professor-at-hampden/index.html" title="Latin professor at Hampden"><img src='../wp-content/uploads/2014/04/blog12-378x218.jpg' width='378' height='218' />                                                    </a>
                                        <!-- POST FORMAT ENDS -->

                                    </div>


                                    <div class="entry-meta ">
                                        <span class="post-icon-format"> </span>

                                        <div class="date ">
                                            <span class="fa fa-calendar"> </span><p>Jan 28 2014</p>
                                        </div>

                                        <a href="../latin-professor-at-hampden/index.html#respond" class="comments"><span class="fa fa-comments"> </span> 0</a>

                                        <a class="" title="ram"
                                           href="../author/ram/index.html"><span class="fa fa-user"> </span>ram</a>

                                        <span class="rounded-bend"> </span>

                                    </div><!-- .entry-meta end -->

                                </div><!-- .entry-thumb-meta -->

                                <div class="entry-details">

                                    <!-- .post-title -->

                                    <div class="entry-title">
                                        <h4>
                                            <a href="../latin-professor-at-hampden/index.html" title="Latin professor at Hampden">
                                                Latin professor at Hampden
                                            </a>
                                        </h4>
                                    </div><!-- .entry-title -->

                                    <div class="entry-metadata ">
                                        <div class="tags"><span class="fa fa-tags"> </span><a href="../tag/chat/index.html" rel="tag">chat</a>, <a href="../tag/creative/index.html" rel="tag">creative</a></div>                                                	                                                			<div class="categories"><span class="fa fa-thumb-tack"> </span><a href="../category/post-format-audio/index.html" rel="category tag">Audio</a>, <a href="../category/cottage/index.html" rel="category tag">Cottage</a>, <a href="../category/retail/index.html" rel="category tag">Retail</a></div>
                                    </div><!-- .entry-meta -->

                                    <div class="entry-body">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo...</p>                                                <a href="../latin-professor-at-hampden/index.html" title="Latin professor at Hampden" class="read-more">
                                            Read More <span class="fa fa-angle-double-right"> </span>
                                        </a>
                                    </div><!-- .entry-body -->

                                </div><!-- .entry-details -->

                            </article><!-- **Blog Entry - End** -->
                            <div class="hr"> </div>
                        </div>

                        <div class=" column dt-sc-one-half with-sidebar first">
                            <!-- **Blog Entry** -->
                            <article class="blog-entry post-478 post type-post status-publish format-link has-post-thumbnail hentry category-cottage category-retail category-technical tag-blog-2 tag-design post_format-post-format-link">

                                <div class="entry-thumb-meta">
                                    <div class="entry-thumb">

                                        <!-- POST FORMAT STARTS -->
                                        <a href="../piece-of-classical/index.html" title="Piece of classical"><img src='../wp-content/uploads/2014/04/blog5-378x218.jpg' width='378' height='218' />                                                    </a>
                                        <!-- POST FORMAT ENDS -->

                                    </div>


                                    <div class="entry-meta ">
                                        <span class="post-icon-format"> </span>

                                        <div class="date ">
                                            <span class="fa fa-calendar"> </span><p>Jan 28 2014</p>
                                        </div>

                                        <a href="../piece-of-classical/index.html#respond" class="comments"><span class="fa fa-comments"> </span> 0</a>

                                        <a class="" title="ram"
                                           href="../author/ram/index.html"><span class="fa fa-user"> </span>ram</a>

                                        <span class="rounded-bend"> </span>

                                    </div><!-- .entry-meta end -->

                                </div><!-- .entry-thumb-meta -->

                                <div class="entry-details">

                                    <!-- .post-title -->

                                    <div class="entry-title">
                                        <h4>
                                            <a href="../piece-of-classical/index.html" title="Piece of classical">
                                                Piece of classical
                                            </a>
                                        </h4>
                                    </div><!-- .entry-title -->

                                    <div class="entry-metadata ">
                                        <div class="tags"><span class="fa fa-tags"> </span><a href="../tag/blog-2/index.html" rel="tag">blog</a>, <a href="../tag/design/index.html" rel="tag">design</a></div>                                                	                                                			<div class="categories"><span class="fa fa-thumb-tack"> </span><a href="../category/cottage/index.html" rel="category tag">Cottage</a>, <a href="../category/retail/index.html" rel="category tag">Retail</a>, <a href="../category/technical/index.html" rel="category tag">Technical</a></div>
                                    </div><!-- .entry-meta -->

                                    <div class="entry-body">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo...</p>                                                <a href="../piece-of-classical/index.html" title="Piece of classical" class="read-more">
                                            Read More <span class="fa fa-angle-double-right"> </span>
                                        </a>
                                    </div><!-- .entry-body -->

                                </div><!-- .entry-details -->

                            </article><!-- **Blog Entry - End** -->
                            <div class="hr"> </div>
                        </div>

                        <div class=" column dt-sc-one-half with-sidebar">
                            <!-- **Blog Entry** -->
                            <article class="blog-entry post-476 post type-post status-publish format-aside has-post-thumbnail hentry category-apartment category-retail category-post-format-video tag-chat tag-design post_format-post-format-aside">

                                <div class="entry-thumb-meta">
                                    <div class="entry-thumb">

                                        <!-- POST FORMAT STARTS -->
                                        <a href="../contrary-to-popular/index.html" title="Contrary to popular"><img src='../wp-content/uploads/2014/04/blog9-378x218.jpg' width='378' height='218' />                                                    </a>
                                        <!-- POST FORMAT ENDS -->

                                    </div>


                                    <div class="entry-meta ">
                                        <span class="post-icon-format"> </span>

                                        <div class="date ">
                                            <span class="fa fa-calendar"> </span><p>Jan 28 2014</p>
                                        </div>

                                        <a href="../contrary-to-popular/index.html#respond" class="comments"><span class="fa fa-comments"> </span> 0</a>

                                        <a class="" title="ram"
                                           href="../author/ram/index.html"><span class="fa fa-user"> </span>ram</a>

                                        <span class="rounded-bend"> </span>

                                    </div><!-- .entry-meta end -->

                                </div><!-- .entry-thumb-meta -->

                                <div class="entry-details">

                                    <!-- .post-title -->

                                    <div class="entry-title">
                                        <h4>
                                            <a href="../contrary-to-popular/index.html" title="Contrary to popular">
                                                Contrary to popular
                                            </a>
                                        </h4>
                                    </div><!-- .entry-title -->

                                    <div class="entry-metadata ">
                                        <div class="tags"><span class="fa fa-tags"> </span><a href="../tag/chat/index.html" rel="tag">chat</a>, <a href="../tag/design/index.html" rel="tag">design</a></div>                                                	                                                			<div class="categories"><span class="fa fa-thumb-tack"> </span><a href="../category/apartment/index.html" rel="category tag">Apartment</a>, <a href="../category/retail/index.html" rel="category tag">Retail</a>, <a href="../category/post-format-video/index.html" rel="category tag">Video</a></div>
                                    </div><!-- .entry-meta -->

                                    <div class="entry-body">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo...</p>                                                <a href="../contrary-to-popular/index.html" title="Contrary to popular" class="read-more">
                                            Read More <span class="fa fa-angle-double-right"> </span>
                                        </a>
                                    </div><!-- .entry-body -->

                                </div><!-- .entry-details -->

                            </article><!-- **Blog Entry - End** -->
                            <div class="hr"> </div>
                        </div>

                        <div class=" column dt-sc-one-half with-sidebar first">
                            <!-- **Blog Entry** -->
                            <article class="blog-entry post-469 post type-post status-publish format-chat has-post-thumbnail hentry category-cottage category-post-format-video tag-blog-2 tag-chat tag-video-2 post_format-post-format-chat">

                                <div class="entry-thumb-meta">
                                    <div class="entry-thumb">

                                        <!-- POST FORMAT STARTS -->
                                        <a href="../omnis-voluptas-assumenda/index.html" title="Omnis voluptas assumenda"><img src='../wp-content/uploads/2014/04/blog7-378x218.jpg' width='378' height='218' />                                                    </a>
                                        <!-- POST FORMAT ENDS -->

                                    </div>


                                    <div class="entry-meta ">
                                        <span class="post-icon-format"> </span>

                                        <div class="date ">
                                            <span class="fa fa-calendar"> </span><p>Jan 28 2014</p>
                                        </div>

                                        <a href="../omnis-voluptas-assumenda/index.html#respond" class="comments"><span class="fa fa-comments"> </span> 0</a>

                                        <a class="" title="ram"
                                           href="../author/ram/index.html"><span class="fa fa-user"> </span>ram</a>

                                        <span class="rounded-bend"> </span>

                                    </div><!-- .entry-meta end -->

                                </div><!-- .entry-thumb-meta -->

                                <div class="entry-details">

                                    <!-- .post-title -->

                                    <div class="entry-title">
                                        <h4>
                                            <a href="../omnis-voluptas-assumenda/index.html" title="Omnis voluptas assumenda">
                                                Omnis voluptas assumenda
                                            </a>
                                        </h4>
                                    </div><!-- .entry-title -->

                                    <div class="entry-metadata ">
                                        <div class="tags"><span class="fa fa-tags"> </span><a href="../tag/blog-2/index.html" rel="tag">blog</a>, <a href="../tag/chat/index.html" rel="tag">chat</a>, <a href="../tag/video-2/index.html" rel="tag">video</a></div>                                                	                                                			<div class="categories"><span class="fa fa-thumb-tack"> </span><a href="../category/cottage/index.html" rel="category tag">Cottage</a>, <a href="../category/post-format-video/index.html" rel="category tag">Video</a></div>
                                    </div><!-- .entry-meta -->

                                    <div class="entry-body">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo...</p>                                                <a href="../omnis-voluptas-assumenda/index.html" title="Omnis voluptas assumenda" class="read-more">
                                            Read More <span class="fa fa-angle-double-right"> </span>
                                        </a>
                                    </div><!-- .entry-body -->

                                </div><!-- .entry-details -->

                            </article><!-- **Blog Entry - End** -->
                            <div class="hr"> </div>
                        </div>

                        <div class=" column dt-sc-one-half with-sidebar">
                            <!-- **Blog Entry** -->
                            <article class="blog-entry post-449 post type-post status-publish format-video hentry category-apartment category-cottage category-retail tag-blog-2 tag-news-2 tag-video-2 post_format-post-format-video">

                                <div class="entry-thumb-meta">
                                    <div class="entry-thumb">

                                        <!-- POST FORMAT STARTS -->
                                        <div class='dt-video-wrap'><iframe src="https://player.vimeo.com/video/58022280" width="1060" height="596" frameborder="0" title="Shugo Tokumaru / Katachi" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>                                            <!-- POST FORMAT ENDS -->

                                    </div>


                                    <div class="entry-meta ">
                                        <span class="post-icon-format"> </span>

                                        <div class="date ">
                                            <span class="fa fa-calendar"> </span><p>Jan 28 2014</p>
                                        </div>

                                        <a href="../vimeo/index.html#respond" class="comments"><span class="fa fa-comments"> </span> 0</a>

                                        <a class="" title="ram"
                                           href="../author/ram/index.html"><span class="fa fa-user"> </span>ram</a>

                                        <span class="rounded-bend"> </span>

                                    </div><!-- .entry-meta end -->

                                </div><!-- .entry-thumb-meta -->

                                <div class="entry-details">

                                    <!-- .post-title -->

                                    <div class="entry-title">
                                        <h4>
                                            <a href="../vimeo/index.html" title="Vimeo &#8211; Nam malesuada augue">
                                                Vimeo &#8211; Nam malesuada augue
                                            </a>
                                        </h4>
                                    </div><!-- .entry-title -->

                                    <div class="entry-metadata ">
                                        <div class="tags"><span class="fa fa-tags"> </span><a href="../tag/blog-2/index.html" rel="tag">blog</a>, <a href="../tag/news-2/index.html" rel="tag">news</a>, <a href="../tag/video-2/index.html" rel="tag">video</a></div>                                                	                                                			<div class="categories"><span class="fa fa-thumb-tack"> </span><a href="../category/apartment/index.html" rel="category tag">Apartment</a>, <a href="../category/cottage/index.html" rel="category tag">Cottage</a>, <a href="../category/retail/index.html" rel="category tag">Retail</a></div>
                                    </div><!-- .entry-meta -->

                                    <div class="entry-body">
                                        <p>Nam malesuada augue eget odio consequat, vel fermentum sem porta. Donec luctus magna in nulla lobortis, eget facilisis libero venenatis. Aenean auctor, nulla eu egestas ornare, eros mi faucibus turpis, eu venenatis nibh sapien at libero. Mauris vel mauris eros. Curabitur in est sem....</p>                                                <a href="../vimeo/index.html" title="Vimeo &#8211; Nam malesuada augue" class="read-more">
                                            Read More <span class="fa fa-angle-double-right"> </span>
                                        </a>
                                    </div><!-- .entry-body -->

                                </div><!-- .entry-details -->

                            </article><!-- **Blog Entry - End** -->
                            <div class="hr"> </div>
                        </div>

                        <div class=" column dt-sc-one-half with-sidebar first">
                            <!-- **Blog Entry** -->
                            <article class="blog-entry post-446 post type-post status-publish format-video hentry category-apartment category-retail category-technical tag-woocommerce-2 tag-youtube post_format-post-format-video">

                                <div class="entry-thumb-meta">
                                    <div class="entry-thumb">

                                        <!-- POST FORMAT STARTS -->
                                        <div class='dt-video-wrap'><iframe width="1060" height="596" src="https://www.youtube.com/embed/NhutLj3SVzQ?feature=oembed&amp;wmode=opaque" frameborder="0" allowfullscreen></iframe></div>                                            <!-- POST FORMAT ENDS -->

                                    </div>


                                    <div class="entry-meta ">
                                        <span class="post-icon-format"> </span>

                                        <div class="date ">
                                            <span class="fa fa-calendar"> </span><p>Jan 28 2014</p>
                                        </div>

                                        <a href="../lorem-ipsum-dolor-sit/index.html#respond" class="comments"><span class="fa fa-comments"> </span> 0</a>

                                        <a class="" title="ram"
                                           href="../author/ram/index.html"><span class="fa fa-user"> </span>ram</a>

                                        <span class="rounded-bend"> </span>

                                    </div><!-- .entry-meta end -->

                                </div><!-- .entry-thumb-meta -->

                                <div class="entry-details">

                                    <!-- .post-title -->

                                    <div class="entry-title">
                                        <h4>
                                            <a href="../lorem-ipsum-dolor-sit/index.html" title="Youtube &#8211; Lorem ipsum dolor sit">
                                                Youtube &#8211; Lorem ipsum dolor sit
                                            </a>
                                        </h4>
                                    </div><!-- .entry-title -->

                                    <div class="entry-metadata ">
                                        <div class="tags"><span class="fa fa-tags"> </span><a href="../tag/woocommerce-2/index.html" rel="tag">woocommerce</a>, <a href="../tag/youtube/index.html" rel="tag">youtube</a></div>                                                	                                                			<div class="categories"><span class="fa fa-thumb-tack"> </span><a href="../category/apartment/index.html" rel="category tag">Apartment</a>, <a href="../category/retail/index.html" rel="category tag">Retail</a>, <a href="../category/technical/index.html" rel="category tag">Technical</a></div>
                                    </div><!-- .entry-meta -->

                                    <div class="entry-body">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo...</p>                                                <a href="../lorem-ipsum-dolor-sit/index.html" title="Youtube &#8211; Lorem ipsum dolor sit" class="read-more">
                                            Read More <span class="fa fa-angle-double-right"> </span>
                                        </a>
                                    </div><!-- .entry-body -->

                                </div><!-- .entry-details -->

                            </article><!-- **Blog Entry - End** -->
                            <div class="hr"> </div>
                        </div>

                        <div class=" column dt-sc-one-half with-sidebar">
                            <!-- **Blog Entry** -->
                            <article class="blog-entry post-452 post type-post status-publish format-video hentry category-technical category-post-format-video tag-creative tag-design post_format-post-format-video">

                                <div class="entry-thumb-meta">
                                    <div class="entry-thumb">

                                        <!-- POST FORMAT STARTS -->
                                        <div class='dt-video-wrap'>
                                            <div style="width: 640px; " class="wp-video">
                                                <!--[if lt IE 9]><script>document.createElement('video');</script><![endif]-->
                                                <video class="wp-video-shortcode" id="video-452-1" width="640" height="360" preload="metadata" controls="controls"><source type="video/mp4" src="http://wedesignthemes.com/themes/dt-super/wp-content/uploads/2014/01/funny-animated-movie.mp4?_=1" /><a href="http://wedesignthemes.com/themes/dt-super/wp-content/uploads/2014/01/funny-animated-movie.mp4">http://wedesignthemes.com/themes/dt-super/wp-content/uploads/2014/01/funny-animated-movie.mp4</a></video>
                                            </div>
                                        </div>                                            <!-- POST FORMAT ENDS -->

                                    </div>


                                    <div class="entry-meta ">
                                        <span class="post-icon-format"> </span>

                                        <div class="date ">
                                            <span class="fa fa-calendar"> </span><p>Jan 28 2014</p>
                                        </div>

                                        <a href="../self-hosted-video/index.html#respond" class="comments"><span class="fa fa-comments"> </span> 0</a>

                                        <a class="" title="ram"
                                           href="../author/ram/index.html"><span class="fa fa-user"> </span>ram</a>

                                        <span class="rounded-bend"> </span>

                                    </div><!-- .entry-meta end -->

                                </div><!-- .entry-thumb-meta -->

                                <div class="entry-details">

                                    <!-- .post-title -->

                                    <div class="entry-title">
                                        <h4>
                                            <a href="../self-hosted-video/index.html" title="Self Hosted Video">
                                                Self Hosted Video
                                            </a>
                                        </h4>
                                    </div><!-- .entry-title -->

                                    <div class="entry-metadata ">
                                        <div class="tags"><span class="fa fa-tags"> </span><a href="../tag/creative/index.html" rel="tag">creative</a>, <a href="../tag/design/index.html" rel="tag">design</a></div>                                                	                                                			<div class="categories"><span class="fa fa-thumb-tack"> </span><a href="../category/technical/index.html" rel="category tag">Technical</a>, <a href="../category/post-format-video/index.html" rel="category tag">Video</a></div>
                                    </div><!-- .entry-meta -->

                                    <div class="entry-body">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo...</p>                                                <a href="../self-hosted-video/index.html" title="Self Hosted Video" class="read-more">
                                            Read More <span class="fa fa-angle-double-right"> </span>
                                        </a>
                                    </div><!-- .entry-body -->

                                </div><!-- .entry-details -->

                            </article><!-- **Blog Entry - End** -->
                            <div class="hr"> </div>
                        </div>

                        <div class=" column dt-sc-one-half with-sidebar first">
                            <!-- **Blog Entry** -->
                            <article class="blog-entry post-454 post type-post status-publish format-audio has-post-thumbnail hentry category-cottage category-retail category-technical tag-design tag-news-2 post_format-post-format-audio">

                                <div class="entry-thumb-meta">
                                    <div class="entry-thumb">

                                        <!-- POST FORMAT STARTS -->
                                        <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F81073238&amp;show_artwork=true&amp;maxwidth=1060&amp;maxheight=1000"></iframe>                                            <!-- POST FORMAT ENDS -->

                                    </div>


                                    <div class="entry-meta ">
                                        <span class="post-icon-format"> </span>

                                        <div class="date ">
                                            <span class="fa fa-calendar"> </span><p>Jan 28 2014</p>
                                        </div>

                                        <a href="../audio/index.html#respond" class="comments"><span class="fa fa-comments"> </span> 0</a>

                                        <a class="" title="ram"
                                           href="../author/ram/index.html"><span class="fa fa-user"> </span>ram</a>

                                        <span class="rounded-bend"> </span>

                                    </div><!-- .entry-meta end -->

                                </div><!-- .entry-thumb-meta -->

                                <div class="entry-details">

                                    <!-- .post-title -->

                                    <div class="entry-title">
                                        <h4>
                                            <a href="../audio/index.html" title="Audio &#8211; Nam libero tempore">
                                                Audio &#8211; Nam libero tempore
                                            </a>
                                        </h4>
                                    </div><!-- .entry-title -->

                                    <div class="entry-metadata ">
                                        <div class="tags"><span class="fa fa-tags"> </span><a href="../tag/design/index.html" rel="tag">design</a>, <a href="../tag/news-2/index.html" rel="tag">news</a></div>                                                	                                                			<div class="categories"><span class="fa fa-thumb-tack"> </span><a href="../category/cottage/index.html" rel="category tag">Cottage</a>, <a href="../category/retail/index.html" rel="category tag">Retail</a>, <a href="../category/technical/index.html" rel="category tag">Technical</a></div>
                                    </div><!-- .entry-meta -->

                                    <div class="entry-body">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo...</p>                                                <a href="../audio/index.html" title="Audio &#8211; Nam libero tempore" class="read-more">
                                            Read More <span class="fa fa-angle-double-right"> </span>
                                        </a>
                                    </div><!-- .entry-body -->

                                </div><!-- .entry-details -->

                            </article><!-- **Blog Entry - End** -->
                            <div class="hr"> </div>
                        </div>

                        <div class=" column dt-sc-one-half with-sidebar">
                            <!-- **Blog Entry** -->
                            <article class="blog-entry post-461 post type-post status-publish format-audio has-post-thumbnail hentry category-post-format-audio category-cottage category-retail tag-audio-2 tag-design post_format-post-format-audio">

                                <div class="entry-thumb-meta">
                                    <div class="entry-thumb">

                                        <!-- POST FORMAT STARTS -->
                                        <!--[if lt IE 9]><script>document.createElement('audio');</script><![endif]-->
                                        <audio class="wp-audio-shortcode" id="audio-461-1" preload="none" style="width: 100%; visibility: hidden;" controls="controls"><source type="audio/mpeg" src="http://wedesignthemes.com/themes/dt-super/wp-content/uploads/2014/01/funny-animated-movie.mp3?_=1" /><a href="http://wedesignthemes.com/themes/dt-super/wp-content/uploads/2014/01/funny-animated-movie.mp3">http://wedesignthemes.com/themes/dt-super/wp-content/uploads/2014/01/funny-animated-movie.mp3</a></audio>                                            <!-- POST FORMAT ENDS -->

                                    </div>


                                    <div class="entry-meta ">
                                        <span class="post-icon-format"> </span>

                                        <div class="date ">
                                            <span class="fa fa-calendar"> </span><p>Jan 28 2014</p>
                                        </div>

                                        <a href="../self-hosted-audio/index.html#respond" class="comments"><span class="fa fa-comments"> </span> 0</a>

                                        <a class="" title="ram"
                                           href="../author/ram/index.html"><span class="fa fa-user"> </span>ram</a>

                                        <span class="rounded-bend"> </span>

                                    </div><!-- .entry-meta end -->

                                </div><!-- .entry-thumb-meta -->

                                <div class="entry-details">

                                    <!-- .post-title -->

                                    <div class="entry-title">
                                        <h4>
                                            <a href="../self-hosted-audio/index.html" title="Self Hosted Audio">
                                                Self Hosted Audio
                                            </a>
                                        </h4>
                                    </div><!-- .entry-title -->

                                    <div class="entry-metadata ">
                                        <div class="tags"><span class="fa fa-tags"> </span><a href="../tag/audio-2/index.html" rel="tag">audio</a>, <a href="../tag/design/index.html" rel="tag">design</a></div>                                                	                                                			<div class="categories"><span class="fa fa-thumb-tack"> </span><a href="../category/post-format-audio/index.html" rel="category tag">Audio</a>, <a href="../category/cottage/index.html" rel="category tag">Cottage</a>, <a href="../category/retail/index.html" rel="category tag">Retail</a></div>
                                    </div><!-- .entry-meta -->

                                    <div class="entry-body">
                                        <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo...</p>                                                <a href="../self-hosted-audio/index.html" title="Self Hosted Audio" class="read-more">
                                            Read More <span class="fa fa-angle-double-right"> </span>
                                        </a>
                                    </div><!-- .entry-body -->

                                </div><!-- .entry-details -->

                            </article><!-- **Blog Entry - End** -->
                            <div class="hr"> </div>
                        </div>

                    </div>
                    <!-- **Pagination** -->
                    <div class="pagination">
                        <div class="prev-post"></div>
                        <div class="next-post"></div>
                    </div><!-- **Pagination - End** -->
                    <!--- End of loop to show blog posts -->
                </section>
                <!-- **Secondary Section ** -->
                <section id="secondary" class="">
                    <aside id="my_property_widget-4" class="widget widget_popular_entries"><h3 class="widgettitle"><span>Recent Properties</span></h3><div class='recent-property-widget'><ul><li><a href='../dt_properties/luxury-villa-in-rego-park/index.html' class='thumb'><img src='../wp-content/uploads/2014/04/property1-150x150.jpg' alt='Luxury Villa In Rego Park' width='150' height='150' /></a><h6><a href='../dt_properties/luxury-villa-in-rego-park/index.html'>Luxury Villa In Rego Park</a></h6><span class="property-price">$56000</span></li><li><a href='../dt_properties/lovelace-road-greenfield/index.html' class='thumb'><img src='../wp-content/uploads/2014/04/property2-150x150.jpg' alt='Lovelace Road Greenfield' width='150' height='150' /></a><h6><a href='../dt_properties/lovelace-road-greenfield/index.html'>Lovelace Road Greenfield</a></h6><span class="property-price">$45000</span></li><li><a href='../dt_properties/land-in-central-park/index.html' class='thumb'><img src='../wp-content/uploads/2014/04/property3-150x150.jpg' alt='Land In Central Park' width='150' height='150' /></a><h6><a href='../dt_properties/land-in-central-park/index.html'>Land In Central Park</a></h6><span class="property-price">$55000</span></li><li><a href='../dt_properties/central-park-view/index.html' class='thumb'><img src='../wp-content/uploads/2014/04/property4-150x150.jpg' alt='Central Park View' width='150' height='150' /></a><h6><a href='../dt_properties/central-park-view/index.html'>Central Park View</a></h6><span class="property-price">$56000</span></li></ul></div></aside>		<aside id="recent-posts-2" class="widget widget_recent_entries">
                        <h3 class="widgettitle"><span>Recent Posts</span></h3>		<ul>
                            <li>
                                <a href="../image-minus-id-quod/index.html">Image &#8211; Minus id quod</a>
                            </li>
                            <li>
                                <a href="../gallery-cumque-nihil-impedit/index.html">Gallery &#8211; Cumque nihil impedit</a>
                            </li>
                            <li>
                                <a href="../latin-words-ipsum/index.html">Latin words Ipsum</a>
                            </li>
                            <li>
                                <a href="../latin-professor-at-hampden/index.html">Latin professor at Hampden</a>
                            </li>
                            <li>
                                <a href="../piece-of-classical/index.html">Piece of classical</a>
                            </li>
                        </ul>
                    </aside>		<aside id="archives-2" class="widget widget_archive">
                        <h3 class="widgettitle"><span>Archives</span></h3>		<ul>
                            <li><a href='../2014/01/index.html'>January 2014</a></li>
                        </ul>
                    </aside><aside id="categories-2" class="widget widget_categories">
                        <h3 class="widgettitle"><span>Categories</span></h3>		<ul>
                            <li class="cat-item cat-item-2">
                                <a href="../category/apartment/index.html">Apartment</a>
                            </li>
                            <li class="cat-item cat-item-76">
                                <a href="../category/post-format-audio/index.html">Audio</a>
                            </li>
                            <li class="cat-item cat-item-9">
                                <a href="../category/cottage/index.html">Cottage</a>
                            </li>
                            <li class="cat-item cat-item-21">
                                <a href="../category/magazine/index.html">Magazine</a>
                            </li>
                            <li class="cat-item cat-item-3">
                                <a href="../category/retail/index.html">Retail</a>
                            </li>
                            <li class="cat-item cat-item-4">
                                <a href="../category/technical/index.html">Technical</a>
                            </li>
                            <li class="cat-item cat-item-75">
                                <a href="../category/post-format-video/index.html">Video</a>
                            </li>
                        </ul>
                    </aside>
                </section><!-- **Secondary Section - End** -->


            </div>
        </div>
        <!--</div>--><!-- **Main - End** -->
        <!-- **Footer** -->
        @{Html.RenderPartial("_Footer");}<!-- **Footer - End** -->
    </div><!-- **Wrapper - End** -->
    <link rel='stylesheet' id='mediaelement-css' href='../wp-includes/js/mediaelement/mediaelementplayer.mineb0c.css?ver=2.18.1' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-mediaelement-css' href='../wp-includes/js/mediaelement/wp-mediaelement.min62d0.css?ver=4.5.3' type='text/css' media='all' />
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.inview62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.tabs.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.donutchart62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/shortcodes/js/countTo62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.tipTip.minified62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.viewport62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.carouFredSel-6.2.1-packed62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.cycle.all62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.quovolver.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.colorbox62d0.js?ver=4.5.3'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var dt_plupload = {"ajaxurl":"http:\/\/wedesignthemes.com\/themes\/dt-realestate\/wp-admin\/admin-ajax.php","plupload":{"browse_button":"dt-frontend-uploader","file_data_name":"wpuf_featured_img","max_file_size":"134217728b","url":"http:\/\/wedesignthemes.com\/themes\/dt-realestate\/wp-admin\/admin-ajax.php?action=wpuf_featured_img","multipart":true,"urlstream_upload":true}};
/* ]]> */
    </script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/shortcodes/js/shortcodes62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/shortcodes/js/tooltip/jquery.tooltipster.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/page-builder/js/jquery.inview62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/designthemes-core-features/page-builder/js/custom-public62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/dsidxpress/dsidxwidgets/js/widget-service-admin62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/dsidxpress/js/widget-search5a0d.js?ver=2.1.40'></script>
    <script type='text/javascript' src='../wp-content/plugins/dsidxpress/js/widget-list-areas5a0d.js?ver=2.1.40'></script>
    <script type='text/javascript' src='../wp-content/plugins/dsidxpress/js/widget-listings5a0d.js?ver=2.1.40'></script>
    <script type='text/javascript' src='../wp-content/plugins/contact-form-7/includes/js/jquery.form.mind03d.js?ver=3.51.0-2014.06.20'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/wedesignthemes.com\/themes\/dt-realestate\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","recaptchaEmpty":"Please verify that you are not a robot.","sending":"Sending ..."};
/* ]]> */
    </script>
    <script type='text/javascript' src='../wp-content/plugins/contact-form-7/includes/js/scriptsc1f9.js?ver=4.4.2'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/easing62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/retina62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/jquery.nicescroll.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/jquery.ui.totop.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/jquery.sticky62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/jquery.isotope.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/jquery.prettyPhoto62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/jquery.fitvids62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/jquery.bxslider62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/jquery.cookie62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/picker62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/jquery.smartresize62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/jquery.mobilemenu62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/themes/realestate/framework/js/public/custom62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-content/plugins/s2member/s2member-o70ef.js?ws_plugin__s2member_js_w_globals=1&amp;qcABC=1&amp;ver=160503-2358678001'></script>
    <script type='text/javascript' src='../wp-includes/js/wp-embed.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../wp-includes/js/jquery/ui/position.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../wp-includes/js/jquery/ui/menu.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../wp-includes/js/wp-a11y.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var uiAutocompleteL10n = {"noResults":"No search results.","oneResult":"1 result found. Use up and down arrow keys to navigate.","manyResults":"%d results found. Use up and down arrow keys to navigate."};
/* ]]> */
    </script>
    <script type='text/javascript' src='../wp-includes/js/jquery/ui/autocomplete.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='../wp-content/plugins/dsidxpress/js/autocomplete5a0d.js?ver=2.1.40'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var mejsL10n = {"language":"en-US","strings":{"Close":"Close","Fullscreen":"Fullscreen","Download File":"Download File","Download Video":"Download Video","Play\/Pause":"Play\/Pause","Mute Toggle":"Mute Toggle","None":"None","Turn off Fullscreen":"Turn off Fullscreen","Go Fullscreen":"Go Fullscreen","Unmute":"Unmute","Mute":"Mute","Captions\/Subtitles":"Captions\/Subtitles"}};
var _wpmejsSettings = {"pluginPath":"\/themes\/dt-realestate\/wp-includes\/js\/mediaelement\/"};
/* ]]> */
    </script>
    <script type='text/javascript' src='../wp-includes/js/mediaelement/mediaelement-and-player.min7796.js?ver=2.18.1-a'></script>
    <script type='text/javascript' src='../wp-includes/js/mediaelement/wp-mediaelement.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='../wp-includes/js/comment-reply.min62d0.js?ver=4.5.3'></script>
</body>

<!-- Mirrored from wedesignthemes.com/themes/dt-realestate/blog-ii-column-with-right-sidebar/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 12 Feb 2017 16:43:56 GMT -->
</html>

