
@{
    string cLayout = "~/Views/Shared/_Layout";
    Layout = null;
}

<!DOCTYPE html>
<!--[if lt IE 7]>  <html class="ie ie6 lte9 lte8 lte7" lang="en-US"> <![endif]-->
<!--[if IE 7]>     <html class="ie ie7 lte9 lte8 lte7" lang="en-US"> <![endif]-->
<!--[if IE 8]>     <html class="ie ie8 lte9 lte8" lang="en-US"> <![endif]-->
<!--[if IE 9]>     <html class="ie ie9 lte9" lang="en-US"> <![endif]-->
<!--[if gt IE 9]>  <html> <![endif]-->
<!--[if !IE]><!-->
<html lang="en-US">
<!--<![endif]-->
<!-- Mirrored from wedesignthemes.com/themes/dt-realestate/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 12 Feb 2017 16:28:50 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1' />
    <title>Real Estate WordPress Theme</title>
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="xmlrpc.php" />

    <script type='text/javascript'>
        var mytheme_urls = {
            theme_base_url: '~/wp-content/themes/realestate/'
            , framework_base_url: '~/wp-content/themes/realestate/framework/'
            , ajaxurl: 'http://wedesignthemes.com/themes/dt-realestate/wp-admin/admin-ajax.php'
            , url: 'http://wedesignthemes.com/themes/dt-realestate'
            , stickynav: 'enable'
            , scroll: 'enable'
            , isRTL: ''
        };
    </script>
    <link href='~/wp-content/themes/realestate/images/favicon.ico' rel='shortcut icon' type='image/x-icon' />
    <link href='~/wp-content/themes/realestate/images/apple-touch-icon.html' rel='apple-touch-icon-precomposed' />
    <link href='~/wp-content/themes/realestate/images/apple-touch-icon-114x114.html' sizes='114x114' rel='apple-touch-icon-precomposed' />
    <link href='~/wp-content/themes/realestate/images/apple-touch-icon-72x72.html' sizes='72x72' rel='apple-touch-icon-precomposed' />
    <link href='~/wp-content/themes/realestate/images/apple-touch-icon-144x144.html' sizes='114x114' rel='apple-touch-icon-precomposed' />
    <!-- All in One SEO Pack 2.3.9.1 by Michael Torbert of Semper Fi Web Design[544,551] -->
    <meta name="description" itemprop="description" content="Real Estate WordPress theme offers stunning real estate business features you cannot afford to miss. Check out MLS listing, houses &amp; homes for sale module." />
    <link rel="canonical" href="index.html" />
    <!-- /all in one seo pack -->
    <link rel="alternate" type="application/rss+xml" title="RealEstate &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="RealEstate &raquo; Comments Feed" href="comments/feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="RealEstate &raquo; Home Comments Feed" href="home/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/72x72\/", "ext": ".png", "source": { "concatemoji": "http:\/\/wedesignthemes.com\/themes\/dt-realestate\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.5.3" } };
        !function (a, b, c) { function d(a) { var c, d, e, f = b.createElement("canvas"), g = f.getContext && f.getContext("2d"), h = String.fromCharCode; if (!g || !g.fillText) return !1; switch (g.textBaseline = "top", g.font = "600 32px Arial", a) { case "flag": return g.fillText(h(55356, 56806, 55356, 56826), 0, 0), f.toDataURL().length > 3e3; case "diversity": return g.fillText(h(55356, 57221), 0, 0), c = g.getImageData(16, 16, 1, 1).data, d = c[0] + "," + c[1] + "," + c[2] + "," + c[3], g.fillText(h(55356, 57221, 55356, 57343), 0, 0), c = g.getImageData(16, 16, 1, 1).data, e = c[0] + "," + c[1] + "," + c[2] + "," + c[3], d !== e; case "simple": return g.fillText(h(55357, 56835), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0]; case "unicode8": return g.fillText(h(55356, 57135), 0, 0), 0 !== g.getImageData(16, 16, 1, 1).data[0] } return !1 } function e(a) { var c = b.createElement("script"); c.src = a, c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var f, g, h, i; for (i = Array("simple", "flag", "unicode8", "diversity"), c.supports = { everything: !0, everythingExceptFlag: !0 }, h = 0; h < i.length; h++) c.supports[i[h]] = d(i[h]), c.supports.everything = c.supports.everything && c.supports[i[h]], "flag" !== i[h] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[i[h]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (g = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", g, !1), a.addEventListener("load", g, !1)) : (a.attachEvent("onload", g), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), f = c.source || {}, f.concatemoji ? e(f.concatemoji) : f.wpemoji && f.twemoji && (e(f.twemoji), e(f.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='dt-sc-css-css' href='~/wp-content/plugins/designthemes-core-features/shortcodes/css/shortcodes62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-sc-tip1-css' href='~/wp-content/plugins/designthemes-core-features/shortcodes/js/tooltip/tooltipster62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-sc-tip2-css' href='~/wp-content/plugins/designthemes-core-features/shortcodes/js/tooltip/themes/tooltipster-shadow62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-sc-colorboxcss-css' href='~/wp-content/plugins/designthemes-core-features/shortcodes/css/colorbox62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dt-animations-css' href='~/wp-content/plugins/designthemes-core-features/page-builder/css/animations62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidx-css' href='http://cdn1.diverse-cdn.com/api/combo-css/config=dsidxpress.css/b3f2e8' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxpress-icons-css' href='~/wp-content/plugins/dsidxpress/css/dsidx-icons62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxpress-unconditional-css' href='~/wp-content/plugins/dsidxpress/css/client62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='dsidxwidgets-unconditional-css' href='~/wp-content/plugins/dsidxpress/dsidxwidgets/css/client62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='~/wp-content/plugins/contact-form-7/includes/css/stylesc1f9.css?ver=4.4.2' type='text/css' media='all' />
    <link rel='stylesheet' id='resmap_css-css' href='~/wp-content/plugins/responsive-maps-plugin/includes/css/resmap.mine735.css?ver=3.4' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='~/wp-content/plugins/revslider/public/assets/css/settings5223.css?ver=5.2.6' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    @*<link href="~/netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.minbfce.css" rel="stylesheet" />*@
    <link rel='stylesheet' id='prettyphoto-css' href='~/wp-content/themes/realestate/css/prettyPhoto62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='default-css' href='~/wp-content/themes/realestate/style62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='skin-css' href='~/wp-content/themes/realestate/skins/green/style62d0.css?ver=4.5.3' type='text/css' media='all' />
    @*<link rel='stylesheet' id='custom-font-awesome-css' href='~/Content/css/font-awesome.css' type='text/css' media='all' />*@
    <link rel='stylesheet' id='responsive-css' href='~/wp-content/themes/realestate/css/responsive62d0.css?ver=4.5.3' type='text/css' media='all' />
    <link rel='stylesheet' id='mytheme-google-fonts-css' href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic,700|Arvo:400,700&amp;subset' type='text/css' media='all' />
    <link rel='stylesheet' id='ws-plugin--s2member-css' href='~/wp-content/plugins/s2member/s2member-ob29a.css?ws_plugin__s2member_css=1&amp;qcABC=1&amp;ver=160503-2358678001' type='text/css' media='all' />
    <!--[if IE]>
       <style type="text/css" media="screen">
               .dt-sc-ico-content.type1 .icon span, .product-overlay a, .product-overlay a span, h5.faq:before, .carousel-arrows a, .testimonial .author img, .testimonial .author, #secondary .widget h3.widgettitle a:before, .portfolio .image-overlay a, .portfolio .image-overlay a span, .dt-sc-team .dt-sc-social-icons li {
                   behavior: url(~/wp-content/themes/realestate/PIE.php);
                  }
        </style>
        <![endif]-->
    <script type='text/javascript' src='~/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript' src='~/wp-includes/js/plupload/plupload.full.mincc91.js?ver=2.1.8'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var dsidxAjaxHandler = { "ajaxurl": "http:\/\/wedesignthemes.com\/themes\/dt-realestate\/wp-admin\/admin-ajax.php" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='http://cdn1.diverse-cdn.com/api/combo-js/config=dsidxpress.js/d4c7fb?ver=2.1.40'></script>
    <script type='text/javascript' src='~/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min5223.js'></script>
    <script type='text/javascript' src='~/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min5223.js'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/modernizr-2.6.2.min62d0.js?ver=4.5.3'></script>
    <script src="~/wp-content/plugins/revslider/public/assets/js/revolution.extension.navigation.min.js"></script>
    <script src="~/wp-content/plugins/revslider/public/assets/js/revolution.extension.slideanims.min.js"></script>
    <style type="text/css">
        nav#main-menu ul li a, .mobile-menu {
            font-family: Lato,sans-serif;
        }

        body {
            font-family: Lato, sans-serif;
        }

        H1 {
            font-family: Lato;
        }

        H2 {
            font-family: Lato;
        }

        H3 {
            font-family: Lato;
        }

        H4 {
            font-family: Lato;
        }

        H5 {
            font-family: Lato;
        }

        H6 {
            font-family: Lato;
        }
    </style>
    <link rel='https://api.w.org/' href='wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 4.5.3" />
    <link rel='shortlink' href='/Home/index' />
    <link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embed9151.json?url=http%3A%2F%2Fwedesignthemes.com%2Fthemes%2Fdt-realestate%2F" />
    <link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embedb591?url=http%3A%2F%2Fwedesignthemes.com%2Fthemes%2Fdt-realestate%2F&amp;format=xml" />
    <meta name="generator" content="Powered by Slider Revolution 5.2.6 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">
        if (typeof localdsidx == "undefined" || !localdsidx) { var localdsidx = {}; };
        localdsidx.pluginUrl = "~/wp-content/plugins/dsidxpress/index.html";
        localdsidx.homeUrl = "http://wedesignthemes.com/themes/dt-realestate";
    </script>
    <script type="text/javascript">
        if (typeof localdsidx == "undefined" || !localdsidx) { var localdsidx = {}; };
        localdsidx.pluginUrl = "~/wp-content/plugins/dsidxpress/index.html";
        localdsidx.homeUrl = "http://wedesignthemes.com/themes/dt-realestate";
    </script>
</head>
<body class="home page page-id-2345 page-template page-template-tpl-fullwidth page-template-tpl-fullwidth-php">
    <!-- **Property Style Picker Wrapper** --><div class="property-style-picker-wrapper">
        <a href="#" title="" class="style-picker-ico"> <img src="~/wp-content/themes/realestate/images/style-picker/picker-icon.png" alt="" title="" /> </a>
        <div id="property-style-picker">
            <h2>Select Your Style</h2>
            <h3>Choose your layout</h3>		<ul class="layout-picker">
                <li> <a id="fullwidth" href="#" title="" class="selected"> <img src="~/wp-content/themes/realestate/images/style-picker/fullwidth.jpg" alt="" title="" width="71" height="49" /> </a> </li>
                <li> <a id="boxed" href="#" title=""> <img src="~/wp-content/themes/realestate/images/style-picker/boxed.jpg" alt="" title="" width="71" height="49" /> </a> </li>
            </ul>		<div class="hr"> </div>		
    <div id="pattern-holder" style="display:none;">			
            @*<h3>Patterns for Boxed Layout</h3>			
            <ul class="pattern-picker"><li><a id='pattern9' href='#' title=''>
                <img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern9.jpg' alt='pattern9' title='pattern9' width='30' height='30' /></a></li><li><a id='pattern3' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern3.jpg' alt='pattern3' title='pattern3' width='30' height='30' /></a></li><li><a id='pattern4' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern4.jpg' alt='pattern4' title='pattern4' width='30' height='30' /></a></li><li><a id='pattern8' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern8.jpg' alt='pattern8' title='pattern8' width='30' height='30' /></a></li><li><a id='pattern14' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern14.jpg' alt='pattern14' title='pattern14' width='30' height='30' /></a></li><li><a id='pattern7' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern7.jpg' alt='pattern7' title='pattern7' width='30' height='30' /></a></li><li><a id='pattern10' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern10.jpg' alt='pattern10' title='pattern10' width='30' height='30' /></a></li><li><a id='pattern1' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern1.jpg' alt='pattern1' title='pattern1' width='30' height='30' /></a></li><li><a id='pattern12' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern12.jpg' alt='pattern12' title='pattern12' width='30' height='30' /></a></li><li><a id='pattern5' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern5.jpg' alt='pattern5' title='pattern5' width='30' height='30' /></a></li><li><a id='pattern15' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern15.jpg' alt='pattern15' title='pattern15' width='30' height='30' /></a></li><li><a id='pattern13' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern13.jpg' alt='pattern13' title='pattern13' width='30' height='30' /></a></li><li><a id='pattern11' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern11.jpg' alt='pattern11' title='pattern11' width='30' height='30' /></a></li><li><a id='pattern6' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern6.jpg' alt='pattern6' title='pattern6' width='30' height='30' /></a></li><li><a id='pattern2' href='#' title=''><img src='~/wp-content/themes/realestate/images/style-picker/patterns/pattern2.jpg' alt='pattern2' title='pattern2' width='30' height='30' /></a></li>			
        </ul>*@			<div class="hr"> </div>		
    </div>		
            <h3>Color scheme</h3>		
            <ul class="color-picker"><li><a id="blue" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/blue.jpg" alt="color-blue" title="color-blue" width="30" height="30" /></a></li><li><a id="chocolate" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/chocolate.jpg" alt="color-chocolate" title="color-chocolate" width="30" height="30" /></a></li><li><a id="coral" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/coral.jpg" alt="color-coral" title="color-coral" width="30" height="30" /></a></li><li><a id="cyan" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/cyan.jpg" alt="color-cyan" title="color-cyan" width="30" height="30" /></a></li><li><a id="eggplant" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/eggplant.jpg" alt="color-eggplant" title="color-eggplant" width="30" height="30" /></a></li><li><a id="electricblue" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/electricblue.jpg" alt="color-electricblue" title="color-electricblue" width="30" height="30" /></a></li><li><a id="ferngreen" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/ferngreen.jpg" alt="color-ferngreen" title="color-ferngreen" width="30" height="30" /></a></li><li><a id="gold" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/gold.jpg" alt="color-gold" title="color-gold" width="30" height="30" /></a></li><li><a id="green" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/green.jpg" alt="color-green" title="color-green" width="30" height="30" /></a></li><li><a id="grey" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/grey.jpg" alt="color-grey" title="color-grey" width="30" height="30" /></a></li><li><a id="khaki" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/khaki.jpg" alt="color-khaki" title="color-khaki" width="30" height="30" /></a></li><li><a id="ocean" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/ocean.jpg" alt="color-ocean" title="color-ocean" width="30" height="30" /></a></li><li><a id="orange" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/orange.jpg" alt="color-orange" title="color-orange" width="30" height="30" /></a></li><li><a id="palebrown" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/palebrown.jpg" alt="color-palebrown" title="color-palebrown" width="30" height="30" /></a></li><li><a id="pink" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/pink.jpg" alt="color-pink" title="color-pink" width="30" height="30" /></a></li><li><a id="purple" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/purple.jpg" alt="color-purple" title="color-purple" width="30" height="30" /></a></li><li><a id="raspberry" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/raspberry.jpg" alt="color-raspberry" title="color-raspberry" width="30" height="30" /></a></li><li><a id="red" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/red.jpg" alt="color-red" title="color-red" width="30" height="30" /></a></li><li><a id="skyblue" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/skyblue.jpg" alt="color-skyblue" title="color-skyblue" width="30" height="30" /></a></li><li><a id="slateblue" href="#" title=""><img src="~/wp-content/themes/realestate/images/style-picker/slateblue.jpg" alt="color-slateblue" title="color-slateblue" width="30" height="30" /></a></li>		
            </ul>
        </div>
    </div><!-- **Property Style Picker Wrapper - End** -->
    <!-- **Wrapper** -->
    <div class="wrapper">


        <div id="header-wrapper">
            @{Html.RenderPartial("~/Views/Home/_Header.cshtml");}
        </div><!-- Header Wrapper -->
        <!-- **Main** -->
        <!--<div id="main">-->
        <!-- **Slider Section** --><section id="slider">
            <link href='http://fonts.googleapis.com/css?family=PT%20Sans%20Narrow:400,700' rel='stylesheet' type='text/css'>
            <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;">
                <!-- START REVOLUTION SLIDER 5.2.6 fullwidth mode -->
                <div id="rev_slider_1_1" class="rev_slider fullwidthabanner tp-overflow-hidden" style="display:none;" data-version="5.2.6">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-index="rs-1" data-transition="random" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://wedesignthemes.com/themes/dt-realestate/wp-content/uploads/2014/04/slider11-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/wp-content/uploads/2014/04/slider11.jpg" alt="" title="slider11" width="1920" height="750" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-2" data-transition="random" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://wedesignthemes.com/themes/dt-realestate/wp-content/uploads/2014/04/slider21-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/wp-content/uploads/2014/04/slider21.jpg" alt="" title="slider21" width="1920" height="750" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                        </li>
                        <!-- SLIDE  -->
                        <li data-index="rs-3" data-transition="random" data-slotamount="7" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="http://wedesignthemes.com/themes/dt-realestate/wp-content/uploads/2014/04/slider31-100x50.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                            <!-- MAIN IMAGE -->
                            <img src="~/wp-content/uploads/2014/04/slider31.jpg" alt="" title="slider31" width="1920" height="750" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                            <!-- LAYERS -->
                        </li>
                    </ul>
                    <script>
                        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
                        if (htmlDiv) {
                            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                        } else {
                            var htmlDiv = document.createElement("div");
                            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                        }
                    </script>
                    <div class="tp-bannertimer" style="height: 5px; background-color: rgba(0, 0, 0, 0.15);"></div>
                </div>
                <script>
                    var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
                    if (htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    } else {
                        var htmlDiv = document.createElement("div");
                        htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                        document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script>
                <script type="text/javascript">
                    /******************************************
            -	PREPARE PLACEHOLDER FOR SLIDER	-
        ******************************************/

                    var setREVStartSize = function () {
                        try {
                            var e = new Object, i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                            e.c = jQuery('#rev_slider_1_1');
                            e.gridwidth = [960];
                            e.gridheight = [750];

                            e.sliderLayout = "auto";
                            if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })

                        } catch (d) { console.log("Failure at Presize of Slider:" + d) }
                    };

                    setREVStartSize();

                    var tpj = jQuery;
                    tpj.noConflict();
                    var revapi1;
                    tpj(document).ready(function () {
                        if (tpj("#rev_slider_1_1").revolution == undefined) {
                            revslider_showDoubleJqueryError("#rev_slider_1_1");
                        } else {
                            revapi1 = tpj("#rev_slider_1_1").show().revolution({
                                sliderType: "standard",
                                jsFileLocation: "~/wp-content/plugins/revslider/public/assets/js/",
                                sliderLayout: "auto",
                                dottedOverlay: "none",
                                delay: 9000,
                                navigation: {
                                    keyboardNavigation: "off",
                                    keyboard_direction: "horizontal",
                                    mouseScrollNavigation: "off",
                                    mouseScrollReverse: "default",
                                    onHoverStop: "on",
                                    touch: {
                                        touchenabled: "on",
                                        swipe_threshold: 0.7,
                                        swipe_min_touches: 1,
                                        swipe_direction: "horizontal",
                                        drag_block_vertical: false
                                    }
                                    ,
                                    arrows: {
                                        style: "hesperiden",
                                        enable: true,
                                        hide_onmobile: false,
                                        hide_onleave: false,
                                        tmp: '',
                                        left: {
                                            h_align: "left",
                                            v_align: "center",
                                            h_offset: 20,
                                            v_offset: 0
                                        },
                                        right: {
                                            h_align: "right",
                                            v_align: "center",
                                            h_offset: 20,
                                            v_offset: 0
                                        }
                                    }
                                    ,
                                    bullets: {
                                        enable: true,
                                        hide_onmobile: false,
                                        style: "hesperiden",
                                        hide_onleave: false,
                                        direction: "horizontal",
                                        h_align: "center",
                                        v_align: "bottom",
                                        h_offset: 0,
                                        v_offset: 20,
                                        space: 5,
                                        tmp: ''
                                    }
                                },
                                visibilityLevels: [1240, 1024, 778, 480],
                                gridwidth: 960,
                                gridheight: 750,
                                lazyType: "none",
                                shadow: 0,
                                spinner: "spinner0",
                                stopLoop: "off",
                                stopAfterLoops: -1,
                                stopAtSlide: -1,
                                shuffle: "off",
                                autoHeight: "off",
                                hideThumbsOnMobile: "off",
                                hideSliderAtLimit: 0,
                                hideCaptionAtLimit: 0,
                                hideAllCaptionAtLilmit: 0,
                                debugMode: false,
                                fallbacks: {
                                    simplifyAll: "off",
                                    nextSlideOnWindowFocus: "off",
                                    disableFocusListener: false,
                                }
                            });
                        }
                    });	/*ready*/
                </script>
                <script>
                    var htmlDivCss = unescape(".hesperiden.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A40px%3B%0A%09height%3A40px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%20%20%20%20border-radius%3A%2050%25%3B%0A%7D%0A.hesperiden.tparrows%3Ahover%20%7B%0A%09background%3Argba%280%2C%200%2C%200%2C%201%29%3B%0A%7D%0A.hesperiden.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A20px%3B%0A%09color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%2040px%3B%0A%09text-align%3A%20center%3B%0A%7D%0A.hesperiden.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82c%22%3B%0A%20%20%20%20margin-left%3A-3px%3B%0A%7D%0A.hesperiden.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce82d%22%3B%0A%20%20%20%20margin-right%3A-3px%3B%0A%7D%0A.hesperiden.tp-bullets%20%7B%0A%7D%0A.hesperiden.tp-bullets%3Abefore%20%7B%0A%09content%3A%22%20%22%3B%0A%09position%3Aabsolute%3B%0A%09width%3A100%25%3B%0A%09height%3A100%25%3B%0A%09background%3Atransparent%3B%0A%09padding%3A10px%3B%0A%09margin-left%3A-10px%3Bmargin-top%3A-10px%3B%0A%09box-sizing%3Acontent-box%3B%0A%20%20%20border-radius%3A8px%3B%0A%20%20%0A%7D%0A.hesperiden%20.tp-bullet%20%7B%0A%09width%3A12px%3B%0A%09height%3A12px%3B%0A%09position%3Aabsolute%3B%0A%09background%3A%20rgb%28153%2C%20153%2C%20153%29%3B%20%2F%2A%20old%20browsers%20%2A%2F%0A%20%20%20%20background%3A%20-moz-linear-gradient%28top%2C%20%20rgb%28153%2C%20153%2C%20153%29%200%25%2C%20rgb%28225%2C%20225%2C%20225%29%20100%25%29%3B%20%2F%2A%20ff3.6%2B%20%2A%2F%0A%20%20%20%20background%3A%20-webkit-linear-gradient%28top%2C%20%20rgb%28153%2C%20153%2C%20153%29%200%25%2Crgb%28225%2C%20225%2C%20225%29%20100%25%29%3B%20%2F%2A%20chrome10%2B%2Csafari5.1%2B%20%2A%2F%0A%20%20%20%20background%3A%20-o-linear-gradient%28top%2C%20%20rgb%28153%2C%20153%2C%20153%29%200%25%2Crgb%28225%2C%20225%2C%20225%29%20100%25%29%3B%20%2F%2A%20opera%2011.10%2B%20%2A%2F%0A%20%20%20%20background%3A%20-ms-linear-gradient%28top%2C%20%20rgb%28153%2C%20153%2C%20153%29%200%25%2Crgb%28225%2C%20225%2C%20225%29%20100%25%29%3B%20%2F%2A%20ie10%2B%20%2A%2F%0A%20%20%20%20background%3A%20linear-gradient%28to%20bottom%2C%20%20rgb%28153%2C%20153%2C%20153%29%200%25%2Crgb%28225%2C%20225%2C%20225%29%20100%25%29%3B%20%2F%2A%20w3c%20%2A%2F%0A%20%20%20%20filter%3A%20progid%3Adximagetransform.microsoft.gradient%28%20%0A%20%20%20%20startcolorstr%3D%22rgb%28153%2C%20153%2C%20153%29%22%2C%20endcolorstr%3D%22rgb%28225%2C%20225%2C%20225%29%22%2Cgradienttype%3D0%20%29%3B%20%2F%2A%20ie6-9%20%2A%2F%0A%09border%3A3px%20solid%20rgb%28229%2C%20229%2C%20229%29%3B%0A%09border-radius%3A50%25%3B%0A%09cursor%3A%20pointer%3B%0A%09box-sizing%3Acontent-box%3B%0A%7D%0A.hesperiden%20.tp-bullet%3Ahover%2C%0A.hesperiden%20.tp-bullet.selected%20%7B%0A%09background%3Argb%28102%2C%20102%2C%20102%29%3B%0A%7D%0A.hesperiden%20.tp-bullet-image%20%7B%0A%7D%0A.hesperiden%20.tp-bullet-title%20%7B%0A%7D%0A%0A");
                    var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                    if (htmlDiv) {
                        htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                    }
                    else {
                        var htmlDiv = document.createElement('div');
                        htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                        document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                    }
                </script>
            </div><!-- END REVOLUTION SLIDER -->
            <!-- **Property Search Container** -->
            <div class="property-search-container type2">

                <div class="property-search-title">
                    <h3>Book your location </h3>
                </div>
                <div class="dt-sc-tabs-container">
                    <ul class="dt-sc-tabs-frame"><li><a href='#'>All</a></li><li><a href='#'>Rent</a></li><li><a href='#'>Sale</a></li></ul>
                    <div class="dt-sc-tabs-frame-content">
                        <form action='/Home/Property_Search' method='post'>
                            <input type='hidden' name='searchby' value='All'><div class="property-type-module medium-module"><label>Type</label><select name="ptype"><option value="Any">Property Type</option><option value='Apartment'>Apartment</option><option value='Building Area'>Building Area</option><option value='Commercial'>Commercial</option><option value='Flat'>Flat</option><option value='Cottage'>Cottage</option><option value='Factory'>Factory</option><option value='Farm House'>Farm House</option><option value='Guest House'>Guest House</option><option value='Office'>Office</option><option value='Residential'>Residential</option><option value='Restaurant'>Restaurant</option><option value='Shopping Mall'>Shopping Mall</option><option value='Show Rooms'>Show Rooms</option><option value='Single Family'>Single Family</option><option value='Vacant Land'>Vacant Land</option><option value='Villa'>Villa</option><option value='Warehouse'>Warehouse</option></select></div><div class="location-module medium-module"><label>Locations</label><select name="plocation"><option value="Any">Location</option><option value='Lahore'>Lahore</option><option value='Auckland'>Auckland</option><option value='Calgary'>Calgary</option><option value='Cessnock'>Cessnock</option><option value='Dubbo'>Dubbo</option><option value='Helsinki'>Helsinki</option><option value='Melbourne'>Melbourne</option><option value='Perth'>Perth</option><option value='Sydney'>Sydney</option><option value='Toronto'>Toronto</option><option value='Vienna'>Vienna</option><option value='Wellington'>Wellington</option></select></div><div class="min-price-module medium-module"><label>Min Price</label><select name="minprice"><option value="Any">Any</option><option value='1000'>1000</option><option value='2000'>2000</option><option value='3000'>3000</option><option value='4000'>4000</option></select></div><div class="max-price-module medium-module"><label>Max Price</label><select name="maxprice"><option value="Any">Any</option><option value='10000'>10000</option><option value='20000'>20000</option><option value='30000'>30000</option><option value='40000'>40000</option></select></div><div class="beds-module small-module"><label>Beds</label><select name="pbeds"><option value="Any">Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option></select></div><div class="baths-module small-module"><label>Baths</label><select name="pbaths"><option value="Any">Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option></select></div><div class="floors-module small-module"><label>Floors</label><select name="pfloors"><option value="Any">Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option></select></div><div class="garages-module small-module"><label>Garages</label><select name="pgarages"><option value="Any">Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option></select></div>
                            <div class="customsearch-module medium-module">
                                <label>Builders</label>
                                <select name="pBuilder">
                                    <option value="Any">Any</option>
                                    <option value="KR Builders">KR Builders</option>
                                    <option value="Western Builders & Promoters">Western Builders & Promoters</option>
                                    <option value="AGS Housing Pvt Ltd">AGS Housing Pvt Ltd</option>
                                    <option value="Classic Builders">Classic Builders</option>
                                    <option value="Modern Constructions">Modern Constructions</option>
                                </select>
                            </div><div class="customsearch-module medium-module"><label>Area(sq.ft.)</label><input type="text" name="Area" value="Any" /></div><div class="customsearch-module large-module">
                                <label>Amenities</label><br /><input type="checkbox" name="Amenities" value="Modular Kitchens">Modular Kitchens<input type="checkbox" name="dt_properties-field-3-field-option-2" value="Lifts">Lifts<input type="checkbox" name="dt_properties-field-3-field-option-3" value="Power Backup">Power Backup<input type="checkbox" name="dt_properties-field-3-field-option-4" value="Nearby Airport">Nearby Airport
                            </div><input type="submit" name="dt-propery-search-submit" value="Search" />
                        </form>
                    </div>
                    <div class="dt-sc-tabs-frame-content">
                        <form action='/Home/Property_Search' method='post'>
                            <input type='hidden' name='searchby' value='rent'>
                            <div class="property-type-module medium-module">
                                <label>Type</label>
                                <select name="ptype">
                                <option value="Any">Property Type</option><option value='Apartment'>Apartment</option><option value='Building Area'>Building Area</option><option value='Commercial'>Commercial</option><option value='Flat'>Flat</option><option value='Cottage'>Cottage</option><option value='Factory'>Factory</option><option value='Farm House'>Farm House</option><option value='Guest House'>Guest House</option><option value='Office'>Office</option><option value='Residential'>Residential</option><option value='Restaurant'>Restaurant</option><option value='Shopping Mall'>Shopping Mall</option><option value='Show Rooms'>Show Rooms</option><option value='Single Family'>Single Family</option><option value='Vacant Land'>Vacant Land</option><option value='Villa'>Villa</option><option value='Warehouse'>Warehouse</option>
                                </select>
                            </div>
                            <div class="location-module medium-module">
                                <label>Locations</label>
                                <select name="plocation">
                                    <option value="Any">Location</option>
                                    <option value='Lahore'>Lahore</option>
                                    <option value='Auckland'>Auckland</option>
                                    <option value='Calgary'>Calgary</option>
                                    <option value='Cessnock'>Cessnock</option>
                                    <option value='Dubbo'>Dubbo</option>
                                    <option value='Helsinki'>Helsinki</option>
                                    <option value='Melbourne'>Melbourne</option>
                                    <option value='Perth'>Perth</option>
                                    <option value='Sydney'>Sydney</option>
                                    <option value='Toronto'>Toronto</option>
                                    <option value='Vienna'>Vienna</option>
                                    <option value='Wellington'>Wellington</option>
                                </select>
                            </div>
                            <div class="min-price-module medium-module"><label>Min Price</label><select name="minprice"><option value="Any">Any</option><option value='1000'>1000</option><option value='2000'>2000</option><option value='3000'>3000</option><option value='4000'>4000</option></select></div>
                            <div class="max-price-module medium-module"><label>Max Price</label><select name="maxprice"><option value="Any">Any</option><option value='1000'>1000</option><option value='2000'>2000</option><option value='3000'>3000</option><option value='4000'>4000</option></select></div>
                            <div class="beds-module small-module"><label>Beds</label><select name="pbeds"><option value="Any">Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option></select></div>
                            <div class="baths-module small-module"><label>Baths</label><select name="pbaths"><option value="Any">Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option></select></div>
                            <div class="floors-module small-module"><label>Floors</label><select name="pfloors"><option value="Any">Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option></select></div>
                            <div class="garages-module small-module"><label>Garages</label><select name="pgarages"><option value="Any">Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option></select></div>
                            <input type="submit" name="dt-propery-search-submit" value="Search" />
                        </form>
                    </div>
                    <div class="dt-sc-tabs-frame-content">
                        <form action='/Home/Property_Search' method='post'>
                            <input type='hidden' name='searchby' value='sale'>
                            <div class="title-module medium-module">
                                <label>Name</label><input type="text" name="pname" value="" />
                            </div><div class="referrenceno-module medium-module"><label>Referrence Number</label><input type="text" name="preferrenceno" value="" /></div>
                            <div class="property-type-module medium-module">
                                <label>Type</label>
                                <select name="ptype"><option value="Any">Property Type</option><option value='Apartment'>Apartment</option><option value='Building Area'>Building Area</option><option value='Commercial'>Commercial</option><option value='Flat'>Flat</option><option value='Cottage'>Cottage</option><option value='Factory'>Factory</option><option value='Farm House'>Farm House</option><option value='Guest House'>Guest House</option><option value='Office'>Office</option><option value='Residential'>Residential</option><option value='Restaurant'>Restaurant</option><option value='Shopping Mall'>Shopping Mall</option><option value='Show Rooms'>Show Rooms</option><option value='Single Family'>Single Family</option><option value='Vacant Land'>Vacant Land</option><option value='Villa'>Villa</option><option value='Warehouse'>Warehouse</option></select>
                            </div>
                            <div class="location-module medium-module">
                                <label>Locations</label>
                                <select name="plocation">
                                    <option value="Any">Location</option>
                                    <option value='Lahore'>Lahore</option>
                                    <option value='Auckland'>Auckland</option>
                                    <option value='Calgary'>Calgary</option>
                                    <option value='Cessnock'>Cessnock</option>
                                    <option value='Dubbo'>Dubbo</option>
                                    <option value='Helsinki'>Helsinki</option>
                                    <option value='Melbourne'>Melbourne</option>
                                    <option value='Perth'>Perth</option>
                                    <option value='Sydney'>Sydney</option>
                                    <option value='Toronto'>Toronto</option>
                                    <option value='Vienna'>Vienna</option>
                                    <option value='Wellington'>Wellington</option>
                                </select>
                            </div>
                            <div class="beds-module small-module">
                                <label>Beds</label><select name="pbeds"><option value="Any">Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option></select>
                            </div>
                            <div class="baths-module small-module">
                                <label>Baths</label><select name="pbaths"><option value="Any">Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option></select>
                            </div>
                            <div class="floors-module small-module">
                                <label>Floors</label><select name="pfloors"><option value="Any">Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option></select>
                            </div>
                            <div class="garages-module small-module">
                                <label>Garages</label><select name="pgarages"><option value="Any">Any</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option></select>
                            </div>
                            <input type="submit" name="dt-propery-search-submit" value="Search" />
                        </form>
                    </div>

                </div>
            </div><!-- **Property Search Container - End** -->
        </section><!-- **Slider Section - End** -->
        <div id="main">
            <div id="main-container">
                <section id="primary" class="content-full-width">

                    <!-- #post-2345 -->
                    <div id="post-2345" class="post-2345 page type-page status-publish hentry">
                        <div class='fullwidth-section ' style="background-repeat:no-repeat;background-position:left top;">
                            <div class="container">
                                <div class='column dt-sc-one-fourth  first'><div class='dt-sc-ico-content  type3'><div class='icon'> <span class='fa fa-home'> </span> </div><h5><a href="#">PROPERTY TO BUY</a><span></span></h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac luctus ligula. Phasellus a ligula blandit</p></div></div>
                                <div class='column dt-sc-one-fourth  '><div class='dt-sc-ico-content  type3'><div class='icon'> <span class='fa fa-leaf'> </span> </div><h5><a href="#">PROPERTY TO SELL</a><span></span></h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac luctus ligula. Phasellus a ligula blandit</p></div></div>
                                <div class='column dt-sc-one-fourth  '><div class='dt-sc-ico-content  type3'><div class='icon'> <span class='fa fa-eye'> </span> </div><h5><a href="#">PROPERTY TO RENT</a><span></span></h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac luctus ligula. Phasellus a ligula blandit</p></div></div>
                                <div class='column dt-sc-one-fourth  '><div class='dt-sc-ico-content  type3'><div class='icon'> <span class='fa fa-umbrella'> </span> </div><h5><a href="#">PROPERTY TO LEASE</a><span></span></h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac luctus ligula. Phasellus a ligula blandit</p></div></div>
                            </div>
                            
                        </div>
                        <div class="dt-sc-margin40"></div>
                        <div class='fullwidth-section ' style="background-repeat:no-repeat;background-position:left top;">
                            <div class="container">
                                <div class='dt-sc-intro-text type3 '>
                                    <div class='column dt-sc-four-fifth  first'>
                                        <h4>Free Subscription</h4>
                                        <h5>You can submit one property per day</h5>
                                    </div>
                                    <div class='column dt-sc-one-fifth  '><a href="~/Account/Register" class='dt-sc-button  small '>Register Now</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-margin70"></div>
                        <div class='fullwidth-section ' style="background-repeat:no-repeat;background-position:left top;">
                            <div class="container">
                                <div class='dt-sc-border-title '><H2><span>PROPERTIES FOR SALES</span></H2></div>
                                <div class='dt-sc-properties-carousel-wrapper'><ul class='dt-sc-properties-carousel' data-column='3' data-id='37'><li class='properties   dt-sc-one-third  first'><div class="property-item"><div class="property-thumb "><ul class="porperty-slider"><li><a href='dt_properties/central-park-view/index.html' class='link'><img src='~/wp-content/uploads/2014/04/property4-338x229.jpg' width='338' height='229' title='Central Park View' alt='Central Park View' /></a></li></ul><div class="property-thumb-meta"><span class='property-contract-type sale'><a href='contract_type/sale/index.html'>Sale</a></span><span class='property-type'><a href='property_type/office/index.html'>Office</a></span></div><a href="dt_properties/central-park-view/index.html"><div class="image-overlay"></div></a></div><div class="property-details"><h2><a href='dt_properties/central-park-view/index.html'>Central Park View</a></h2><ul class="property-meta"><li><span class="fa fa-certificate"></span>Area : 65000/m<sup>2</sup></li><li><span class="bed"></span>Beds : 4</li><li><span class="bath"></span>Baths : 3</li><li><span class="fa fa-building-o"></span>Floors : 5</li><li><span class="garage"></span>Garage : 1</li></ul><div class="property-content"><span class="property-price">$56000</span><a href="dt_properties/central-park-view/index.html" class="dt-sc-button small">View Details</a></div></div></div></li><li class='properties   dt-sc-one-third '><div class="property-item"><div class="property-thumb "><ul class="porperty-slider"><li><a href='dt_properties/the-urban-life/index.html' class='link'><img src='~/wp-content/uploads/2014/04/property6-338x229.jpg' width='338' height='229' title='The Urban Life' alt='The Urban Life' /></a></li></ul><div class="property-thumb-meta"><span class='property-contract-type sale'><a href='contract_type/sale/index.html'>Sale</a></span><span class='property-type'><a href='property_type/farm-house/index.html'>Farm House</a></span></div><a href="dt_properties/the-urban-life/index.html"><div class="image-overlay"></div></a></div><div class="property-details"><h2><a href='dt_properties/the-urban-life/index.html'>The Urban Life</a></h2><ul class="property-meta"><li><span class="fa fa-certificate"></span>Area : 45000/m<sup>2</sup></li><li><span class="bed"></span>Beds : 2</li><li><span class="bath"></span>Baths : 2</li><li><span class="fa fa-building-o"></span>Floors : 2</li><li><span class="garage"></span>Garage : 3</li></ul><div class="property-content"><span class="property-price">$35000</span><a href="dt_properties/the-urban-life/index.html" class="dt-sc-button small">View Details</a></div></div></div></li><li class='properties   dt-sc-one-third '><div class="property-item"><div class="property-thumb "><ul class="porperty-slider"><li><a href='dt_properties/house-on-the-beach/index.html' class='link'><img src='~/wp-content/uploads/2014/04/property11-338x229.jpg' width='338' height='229' title='House On The Beach' alt='House On The Beach' /></a></li></ul><div class="property-thumb-meta"><span class='property-contract-type sale'><a href='contract_type/sale/index.html'>Sale</a></span><span class='property-type'><a href='property_type/commercial/index.html'>Commercial</a></span></div><a href="dt_properties/house-on-the-beach/index.html"><div class="image-overlay"></div></a></div><div class="property-details"><h2><a href='dt_properties/house-on-the-beach/index.html'>House On The Beach</a></h2><ul class="property-meta"><li><span class="fa fa-certificate"></span>Area : 67000/m<sup>2</sup></li><li><span class="bed"></span>Beds : 4</li><li><span class="bath"></span>Baths : 3</li><li><span class="fa fa-building-o"></span>Floors : 5</li><li><span class="garage"></span>Garage : 1</li></ul><div class="property-content"><span class="property-price">$50,0000</span><a href="dt_properties/house-on-the-beach/index.html" class="dt-sc-button small">View Details</a></div></div></div></li><li class='properties   dt-sc-one-third  first'><div class="property-item"><div class="property-thumb "><ul class="porperty-slider"><li><a href='dt_properties/classic-brick-building/index.html' class='link'><img src='~/wp-content/uploads/2014/04/property2-338x229.jpg' width='338' height='229' title='Classic Brick Building' alt='Classic Brick Building' /></a></li></ul><div class="property-thumb-meta"><span class='property-contract-type sale'><a href='contract_type/sale/index.html'>Sale</a></span><span class='property-type'><a href='property_type/farm-house/index.html'>Farm House</a></span></div><a href="dt_properties/classic-brick-building/index.html"><div class="image-overlay"></div></a></div><div class="property-details"><h2><a href='dt_properties/classic-brick-building/index.html'>Classic Brick Building</a></h2><ul class="property-meta"><li><span class="fa fa-certificate"></span>Area : 45000/m<sup>2</sup></li><li><span class="bed"></span>Beds : 3</li><li><span class="bath"></span>Baths : 2</li><li><span class="fa fa-building-o"></span>Floors : 2</li><li><span class="garage"></span>Garage : 3</li></ul><div class="property-content"><span class="property-price">$50000</span><a href="dt_properties/classic-brick-building/index.html" class="dt-sc-button small">View Details</a></div></div></div></li><li class='properties   dt-sc-one-third '><div class="property-item"><div class="property-thumb "><ul class="porperty-slider"><li><a href='dt_properties/condo-240-w-98th-street/index.html' class='link'><img src='~/wp-content/uploads/2014/04/property3-338x229.jpg' width='338' height='229' title='Condo 240 W 98th Street' alt='Condo 240 W 98th Street' /></a></li></ul><div class="property-thumb-meta"><span class='property-contract-type sale'><a href='contract_type/sale/index.html'>Sale</a></span><span class='property-type'><a href='property_type/condo/index.html'>Condo</a></span></div><a href="dt_properties/condo-240-w-98th-street/index.html"><div class="image-overlay"></div></a></div><div class="property-details"><h2><a href='dt_properties/condo-240-w-98th-street/index.html'>Condo 240 W 98th Street</a></h2><ul class="property-meta"><li><span class="fa fa-certificate"></span>Area : 55000/m<sup>2</sup></li><li><span class="bed"></span>Beds : 4</li><li><span class="bath"></span>Baths : 3</li><li><span class="fa fa-building-o"></span>Floors : 4</li><li><span class="garage"></span>Garage : 1</li></ul><div class="property-content"><span class="property-price">$35000</span><a href="dt_properties/condo-240-w-98th-street/index.html" class="dt-sc-button small">View Details</a></div></div></div></li><li class='properties   dt-sc-one-third '><div class="property-item"><div class="property-thumb "><ul class="porperty-slider"><li><a href='dt_properties/condo-in-financial-district/index.html' class='link'><img src='~/wp-content/uploads/2014/04/property6-338x229.jpg' width='338' height='229' title='Condo In Financial District' alt='Condo In Financial District' /></a></li></ul><div class="property-thumb-meta"><span class='property-contract-type sale'><a href='contract_type/sale/index.html'>Sale</a></span><span class='property-type'><a href='property_type/apartment/index.html'>Apartment</a></span></div><a href="dt_properties/condo-in-financial-district/index.html"><div class="image-overlay"></div></a></div><div class="property-details"><h2><a href='dt_properties/condo-in-financial-district/index.html'>Condo In Financial District</a></h2><ul class="property-meta"><li><span class="fa fa-certificate"></span>Area : 45000/m<sup>2</sup></li><li><span class="bed"></span>Beds : 3</li><li><span class="bath"></span>Baths : 2</li><li><span class="fa fa-building-o"></span>Floors : 2</li><li><span class="garage"></span>Garage : 1</li></ul><div class="property-content"><span class="property-price">$45000</span><a href="dt_properties/condo-in-financial-district/index.html" class="dt-sc-button small">View Details</a></div></div></div></li></ul><div class="carousel-arrows">	<a href="#" title="" class="properties-prev-arrow"> <span class="fa fa-chevron-left"> </span> </a>   <a href="#" title="" class="properties-next-arrow"> <span class="fa fa-chevron-right"> </span> </a></div></div>
                            </div>
                        </div>
                        <div class='fullwidth-section ' style="background-repeat:no-repeat;background-position:left top;">
                            <div class="container">
                                <div class='dt-sc-border-title '><H2><span>PROPERTIES FOR RENT</span></H2></div>
                                <div class='dt-sc-properties-carousel-wrapper'>
                                    <ul class='dt-sc-properties-carousel' data-column='3' data-id='44'>
                                        <li class='properties   dt-sc-one-third  first'>
                                            <div class="property-item">
                                                <div class="property-thumb ">
                                                    <ul class="porperty-slider">
                                                        <li>
                                                            <a href='dt_properties/luxury-villa-in-rego-park/index.html' class='link'>
                                                                <img src='~/wp-content/uploads/2014/04/property1-338x229.jpg' width='338' height='229' title='Luxury Villa In Rego Park' alt='Luxury Villa In Rego Park' />
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <div class="property-thumb-meta">
                                                        <span class='property-contract-type rent'>
                                                            <a href='contract_type/rent/index.html'>Rent</a>
                                                        </span>
                                                        <span class='property-type'>
                                                            <a href='property_type/restaurant/index.html'>Restaurant</a>
                                                        </span>
                                                    </div>
                                                    <a href="dt_properties/luxury-villa-in-rego-park/index.html">
                                                        <div class="image-overlay"></div>
                                                    </a>
                                                </div>
                                                <div class="property-details">
                                                    <h2>
                                                        <a href='dt_properties/luxury-villa-in-rego-park/index.html'>Luxury Villa In Rego Park</a>
                                                    </h2>
                                                    <ul class="property-meta">
                                                        <li>
                                                            <span class="fa fa-certificate"></span>Area : 37000/m<sup>2</sup>
                                                        </li>
                                                        <li>
                                                            <span class="bed"></span>Beds : 6
                                                        </li>
                                                        <li><span class="bath"></span>Baths : 4</li>
                                                        <li><span class="fa fa-building-o"></span>Floors : 5</li>
                                                        <li><span class="garage"></span>Garage : 1</li>
                                                    </ul><div class="property-content">
                                                        <span class="property-price">$56000</span><a href="dt_properties/luxury-villa-in-rego-park/index.html" class="dt-sc-button small">View Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class='properties   dt-sc-one-third '><div class="property-item"><div class="property-thumb "><ul class="porperty-slider"><li><a href='dt_properties/land-in-central-park/index.html' class='link'><img src='~/wp-content/uploads/2014/04/property3-338x229.jpg' width='338' height='229' title='Land In Central Park' alt='Land In Central Park' /></a></li></ul><div class="property-thumb-meta"><span class='property-contract-type rent'><a href='contract_type/rent/index.html'>Rent</a></span><span class='property-type'><a href='property_type/warehouse/index.html'>Warehouse</a></span></div><a href="dt_properties/land-in-central-park/index.html"><div class="image-overlay"></div></a></div><div class="property-details"><h2><a href='dt_properties/land-in-central-park/index.html'>Land In Central Park</a></h2><ul class="property-meta"><li><span class="fa fa-certificate"></span>Area : 56000/m<sup>2</sup></li><li><span class="bed"></span>Beds : 3</li><li><span class="bath"></span>Baths : 2</li><li><span class="fa fa-building-o"></span>Floors : 4</li><li><span class="garage"></span>Garage : 2</li></ul><div class="property-content"><span class="property-price">$55000</span><a href="dt_properties/land-in-central-park/index.html" class="dt-sc-button small">View Details</a></div></div></div></li>
                                        <li class='properties   dt-sc-one-third '><div class="property-item"><div class="property-thumb "><ul class="porperty-slider"><li><a href='dt_properties/snowy-mountain-cabin-2/index.html' class='link'><img src='~/wp-content/uploads/2014/04/property6-338x229.jpg' width='338' height='229' title='Snowy Mountain Cabin' alt='Snowy Mountain Cabin' /></a></li></ul><div class="property-thumb-meta"><span class='property-contract-type rent'><a href='contract_type/rent/index.html'>Rent</a></span><span class='property-type'><a href='property_type/single-family/index.html'>Single Family</a></span></div><a href="dt_properties/snowy-mountain-cabin-2/index.html"><div class="image-overlay"></div></a></div><div class="property-details"><h2><a href='dt_properties/snowy-mountain-cabin-2/index.html'>Snowy Mountain Cabin</a></h2><ul class="property-meta"><li><span class="fa fa-certificate"></span>Area : 35000/m<sup>2</sup></li><li><span class="bed"></span>Beds : 4</li><li><span class="bath"></span>Baths : 5</li><li><span class="fa fa-building-o"></span>Floors : 3</li><li><span class="garage"></span>Garage : 2</li></ul><div class="property-content"><span class="property-price">$55000</span><a href="dt_properties/snowy-mountain-cabin-2/index.html" class="dt-sc-button small">View Details</a></div></div></div></li>
                                        <li class='properties   dt-sc-one-third  first'><div class="property-item"><div class="property-thumb "><ul class="porperty-slider"><li><a href='dt_properties/snowy-mountain-cabin/index.html' class='link'><img src='~/wp-content/uploads/2014/04/property8-338x229.jpg' width='338' height='229' title='Snowy Mountain Cabin' alt='Snowy Mountain Cabin' /></a></li></ul><div class="property-thumb-meta"><span class='property-contract-type rent'><a href='contract_type/rent/index.html'>Rent</a></span><span class='property-type'><a href='property_type/residential/index.html'>Residential</a></span></div><a href="dt_properties/snowy-mountain-cabin/index.html"><div class="image-overlay"></div></a></div><div class="property-details"><h2><a href='dt_properties/snowy-mountain-cabin/index.html'>Snowy Mountain Cabin</a></h2><ul class="property-meta"><li><span class="fa fa-certificate"></span>Area : 33000/m<sup>2</sup></li><li><span class="bed"></span>Beds : 2</li><li><span class="bath"></span>Baths : 3</li><li><span class="fa fa-building-o"></span>Floors : 2</li><li><span class="garage"></span>Garage : 2</li></ul><div class="property-content"><span class="property-price">$50000</span><a href="dt_properties/snowy-mountain-cabin/index.html" class="dt-sc-button small">View Details</a></div></div></div></li>
                                        <li class='properties   dt-sc-one-third '><div class="property-item"><div class="property-thumb "><ul class="porperty-slider"><li><a href='dt_properties/6-acre-lake-property/index.html' class='link'><img src='~/wp-content/uploads/2014/04/property4-338x229.jpg' width='338' height='229' title='6 Acre Lake Property' alt='6 Acre Lake Property' /></a></li></ul><div class="property-thumb-meta"><span class='property-contract-type rent'><a href='contract_type/rent/index.html'>Rent</a></span><span class='property-type'><a href='property_type/cottage/index.html'>Cottage</a></span></div><a href="dt_properties/6-acre-lake-property/index.html"><div class="image-overlay"></div></a></div><div class="property-details"><h2><a href='dt_properties/6-acre-lake-property/index.html'>6 Acre Lake Property</a></h2><ul class="property-meta"><li><span class="fa fa-certificate"></span>Area : 60000/m<sup>2</sup></li><li><span class="bed"></span>Beds : 5</li><li><span class="bath"></span>Baths : 2</li><li><span class="fa fa-building-o"></span>Floors : 3</li><li><span class="garage"></span>Garage : 1</li></ul><div class="property-content"><span class="property-price">$45000</span><a href="dt_properties/6-acre-lake-property/index.html" class="dt-sc-button small">View Details</a></div></div></div></li>
                                        <li class='properties   dt-sc-one-third '><div class="property-item"><div class="property-thumb "><ul class="porperty-slider"><li><a href='dt_properties/boutique-space-greenville/index.html' class='link'><img src='~/wp-content/uploads/2014/04/property7-338x229.jpg' width='338' height='229' title='Boutique Space Greenville' alt='Boutique Space Greenville' /></a></li></ul><div class="property-thumb-meta"><span class='property-contract-type rent'><a href='contract_type/rent/index.html'>Rent</a></span><span class='property-type'><a href='property_type/building-area/index.html'>Building Area</a></span></div><a href="dt_properties/boutique-space-greenville/index.html"><div class="image-overlay"></div></a></div><div class="property-details"><h2><a href='dt_properties/boutique-space-greenville/index.html'>Boutique Space Greenville</a></h2><ul class="property-meta"><li><span class="fa fa-certificate"></span>Area : 35000/m<sup>2</sup></li><li><span class="bed"></span>Beds : 5</li><li><span class="bath"></span>Baths : 4</li><li><span class="fa fa-building-o"></span>Floors : 4</li><li><span class="garage"></span>Garage : 2</li></ul><div class="property-content"><span class="property-price">$50,000</span><a href="dt_properties/boutique-space-greenville/index.html" class="dt-sc-button small">View Details</a></div></div></div></li>
                                    </ul>
                                    <div class="carousel-arrows">	<a href="#" title="" class="properties-prev-arrow"> <span class="fa fa-chevron-left"> </span> </a>   <a href="#" title="" class="properties-next-arrow"> <span class="fa fa-chevron-right"> </span> </a></div>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-margin70"></div>
                        <div class='fullwidth-section  parallax-section' style="background-image:url(../../wp-content/uploads/2014/04/paralax-bg.jpg);background-repeat:repeat;background-position:left top;padding-top:70px;padding-bottom:30px;background-attachment:fixed; ">
                            <div class="container">
                                <div class='column dt-sc-one-third  first'><div class='dt-sc-ico-content  type2'><div class='icon'> <span class='fa fa-cogs'> </span> </div><h5><a href="#">Agency Leasing</a><span></span></h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac luctus ligula. Phasellus a ligula blandit</p></div></div>
                                <div class='column dt-sc-one-third  '><div class='dt-sc-ico-content  type2'><div class='icon'> <span class='fa fa-flask'> </span> </div><h5><a href="#">Property and Asset Management</a><span></span></h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac luctus ligula. Phasellus a ligula blandit</p></div></div>
                                <div class='column dt-sc-one-third  '><div class='dt-sc-ico-content  type2'><div class='icon'> <span class='fa fa-magic'> </span> </div><h5><a href="#">Real Estate Intelligence Service</a><span></span></h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac luctus ligula. Phasellus a ligula blandit</p></div></div>
                                <div class="dt-sc-margin20"></div>
                                <div class='column dt-sc-one-third  first'><div class='dt-sc-ico-content  type2'><div class='icon'> <span class='fa fa-magnet'> </span> </div><h5><a href="#">Lease Administration</a><span></span></h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac luctus ligula. Phasellus a ligula blandit</p></div></div>
                                <div class='column dt-sc-one-third  '><div class='dt-sc-ico-content  type2'><div class='icon'> <span class='fa fa-tachometer'> </span> </div><h5><a href="#">Transaction Management</a><span></span></h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac luctus ligula. Phasellus a ligula blandit</p></div></div>
                                <div class='column dt-sc-one-third  '><div class='dt-sc-ico-content  type2'><div class='icon'> <span class='fa fa-trophy'> </span> </div><h5><a href="#">Strategic Consulting</a><span></span></h5><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac luctus ligula. Phasellus a ligula blandit</p></div></div>
                            </div>
                        </div>
                        <div class="dt-sc-margin70"></div>
                        <div class='fullwidth-section ' style="background-repeat:no-repeat;background-position:left top;">
                            <div class="container">
                                <div class='column dt-sc-one-half  first'>
                                    <div class='dt-sc-border-title '><H2><span>TESTIMONIALS</span></H2></div>
                                    <div class="dt-sc-margin10"></div>
                                    <div class="dt-sc-testimonial-wrapper">
                                        <ul class="dt-sc-quotes-wrapper">
                                            <li class="testimonial-item"><div class='author'><img src='~/wp-content/uploads/2014/04/agent10.jpg' alt='' /></div><blockquote><q>Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac luctus ligula. Phasellus a ligula blandit</q><cite> - John Doe</cite></blockquote></li>
                                            <li class="testimonial-item">
                                                <div class='author'><img src='~/wp-content/uploads/2014/04/agent9.jpg' alt='' /></div><blockquote>
                                                    <q>
                                                        Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac luctus ligula. Phasellus a ligula blandit.
                                                        Nunc at pretium est curabitur commodo leac est venenatis egestas sed aliquet auguevelit.
                                                    </q><cite> - Stephen</cite>
                                                </blockquote>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class='column dt-sc-one-half  '>
                                    <div class='dt-sc-border-title '><H2><span>BENEFITS FROM PROPERTY</span></H2></div>
                                    <div class="dt-sc-margin10"></div>
                                    <div class='dt-sc-tabs-container'>
                                        <ul class="dt-sc-tabs-frame"><li><a href="#">Unlimited Skins</a></li><li><a href="#">Awesome UI</a></li><li><a href="#">Elegant Design</a></li></ul><div class="dt-sc-tabs-frame-content">
                                            <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                        </div><div class="dt-sc-tabs-frame-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p></div><div class="dt-sc-tabs-frame-content"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi hendrerit elit turpis, a porttitor tellus sollicitudin at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dt-sc-margin70"></div>
                        <div class='fullwidth-section ' style="background-repeat:no-repeat;background-position:left top;">
                            <div class="container">
                                <div class='dt-sc-border-title '><H2><span>FROM THE BLOG</span></H2></div>
                                <div class='column dt-sc-one-half first'>
                                    <article class="blog-entry">
                                        <div class="entry-thumb-meta">		<div class='entry-thumb'><a href='image-minus-id-quod/index.html' title='Image &#8211; Minus id quod'><img src='~/wp-content/uploads/2014/04/blog1-518x299.jpg' width='518' height='299' /></a>		</div>		<div class="entry-meta">			<div class="date">				<span class='fa fa-calendar'></span><p>January 28 2014</p>			</div>			<a href='image-minus-id-quod/index.html#respond' class='comments' title='Image &#8211; Minus id quod'><span class='fa fa-comments'> </span>0</a>			<span class="rounded-bend"> </span>			<div class="featured-post">Featured</div>		</div>		</div>		<div class="entry-details">			<div class='entry-title'><h4><a href='image-minus-id-quod/index.html'>Image &#8211; Minus id quod</a></h4></div>			<div class="entry-metadata"><div class="tags"><span class="fa fa-tags"> </span><a href="tag/creative/index.html" rel="tag">creative</a>, <a href="tag/design/index.html" rel="tag">design</a>, <a href="tag/news-2/index.html" rel="tag">news</a></div>				<div class='categories'><span class='fa fa-thumb-tack'> </span><a href="category/post-format-audio/index.html" title="View all posts in Audio">Audio</a>,<a href="category/retail/index.html" title="View all posts in Retail">Retail</a></div>			</div>			<div class="entry-body"><p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,...</p>	 		<a href='image-minus-id-quod/index.html' class='read-more'>More <span class='fa fa-angle-double-right'> </span></a>			</div>		</div>
                                    </article>
                                    <div class="hr-invisible-small"> </div>
                                </div>
                                <div class='column dt-sc-one-half '>
                                    <article class="blog-entry">
                                        <div class="entry-thumb-meta">
                                            <div class='entry-thumb'><ul class='entry-gallery-post-slider'><li><img src='~/wp-content/uploads/2014/04/blog2-518x299.jpg' width='518' height='299' /></li><li><img src='~/wp-content/uploads/2014/04/blog3-518x299.jpg' width='518' height='299' /></li><li><img src='~/wp-content/uploads/2014/04/blog4-518x299.jpg' width='518' height='299' /></li></ul>		</div>		<div class="entry-meta">			<div class="date">				<span class='fa fa-calendar'></span><p>January 28 2014</p>			</div>			<a href='gallery-cumque-nihil-impedit/index.html#respond' class='comments' title='Gallery &#8211; Cumque nihil impedit'><span class='fa fa-comments'> </span>0</a>			<span class="rounded-bend"> </span>		</div>
                                        </div>
                                        <div class="entry-details">
                                            <div class='entry-title'>
                                                <h4><a href='gallery-cumque-nihil-impedit/index.html'>Gallery &#8211; Cumque nihil impedit</a></h4>
                                            </div>

                                            <div class="entry-metadata">
                                                <div class="tags">
                                                    <span class="fa fa-tags"> </span>
                                                    <a href="tag/blog-2/index.html" rel="tag">blog</a>, <a href="tag/chat/index.html" rel="tag">chat</a>
                                                </div>
                                                <div class='categories'>
                                                    <span class='fa fa-thumb-tack'> </span>
                                                    <a href="category/post-format-audio/index.html" title="View all posts in Audio">Audio</a>,<a href="category/cottage/index.html" title="View all posts in Cottage">Cottage</a>,<a href="category/retail/index.html" title="View all posts in Retail">Retail</a>
                                                </div>

                                                <div class="entry-body">
                                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form,...</p>
                                                    <a href='gallery-cumque-nihil-impedit/index.html' class='read-more'>
                                                        More <span class='fa fa-angle-double-right'> </span>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </article>
                                    <div class="hr-invisible-small"> </div>
                                </div>
                            </div>
                            <div class="dt-sc-margin70"></div>
                            <div class='fullwidth-section ' style="background-repeat:no-repeat;background-position:left top;">
                                <div class="container">
                                    <div class='dt-sc-border-title '><H2><span>OUR PARTNERS</span></H2></div>
                                    <div class='dt-sc-partner-carousel-wrapper'>
                                        <ul class='dt-sc-partner-carousel' data-scroll='1' data-min='1' data-max='4' data-item-width='230'>
                                            <li style='height:92px;'><a href="#"><img title="" src="~/wp-content/uploads/2014/04/partner1.jpg" alt="" width="165" height="100" /></a></li>
                                            <li style='height:92px;'><a href="#"><img title="" src="~/wp-content/uploads/2014/04/partner2.jpg" alt="" width="165" height="100" /></a></li>
                                            <li style='height:92px;'><a href="#"><img title="" src="~/wp-content/uploads/2014/04/partner3.jpg" alt="" width="165" height="100" /></a></li>
                                            <li style='height:92px;'><a href="#"><img title="" src="~/wp-content/uploads/2014/04/partner4.jpg" alt="" width="165" height="100" /></a></li>
                                            <li style='height:92px;'><a href="#"><img title="" src="~/wp-content/uploads/2014/04/partner5.jpg" alt="" width="165" height="100" /></a></li>
                                            <li style='height:92px;'><a href="#"><img title="" src="~/wp-content/uploads/2014/04/partner3.jpg" alt="" width="165" height="100" /></a></li>
                                        </ul><div class="carousel-arrows">	<a href="#" title="" class="partner-prev-arrow"> <span class="fa fa-chevron-left"> </span> </a>   <a href="#" title="" class="partner-next-arrow"> <span class="fa fa-chevron-right"> </span> </a></div>
                                    </div><!-- **Partner Carousel Wrapper - End** -->
                                </div>
                            </div>
                            <div class="social-bookmark"></div><div class="social-share"></div>
                        </div><!-- #post-2345 -->
                </section>


            </div>
        </div>

        <!--</div>--><!-- **Main - End** -->
        <!-- **Footer** -->
        @{Html.RenderPartial("_Footer");}<!-- **Footer - End** -->
    </div><!-- **Wrapper - End** -->
    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.inview62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.tabs.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.donutchart62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/shortcodes/js/countTo62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.tipTip.minified62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.viewport62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.carouFredSel-6.2.1-packed62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.cycle.all62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.quovolver.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/shortcodes/js/jquery.colorbox62d0.js?ver=4.5.3'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var dt_plupload = { "ajaxurl": "http:\/\/wedesignthemes.com\/themes\/dt-realestate\/wp-admin\/admin-ajax.php", "plupload": { "browse_button": "dt-frontend-uploader", "file_data_name": "wpuf_featured_img", "max_file_size": "134217728b", "url": "http:\/\/wedesignthemes.com\/themes\/dt-realestate\/wp-admin\/admin-ajax.php?action=wpuf_featured_img", "multipart": true, "urlstream_upload": true } };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/shortcodes/js/tooltip/jquery.tooltipster.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/shortcodes/js/shortcodes62d0.js?ver=4.5.3'></script>

    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/page-builder/js/jquery.inview62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/designthemes-core-features/page-builder/js/custom-public62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/dsidxpress/dsidxwidgets/js/widget-service-admin62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/dsidxpress/js/widget-search5a0d.js?ver=2.1.40'></script>
    <script type='text/javascript' src='~/wp-content/plugins/dsidxpress/js/widget-list-areas5a0d.js?ver=2.1.40'></script>
    <script type='text/javascript' src='~/wp-content/plugins/dsidxpress/js/widget-listings5a0d.js?ver=2.1.40'></script>
    <script type='text/javascript' src='~/wp-content/plugins/contact-form-7/includes/js/jquery.form.mind03d.js?ver=3.51.0-2014.06.20'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var _wpcf7 = { "loaderUrl": "http:\/\/wedesignthemes.com\/themes\/dt-realestate\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif", "recaptchaEmpty": "Please verify that you are not a robot.", "sending": "Sending ..." };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/jquery.ui.totop.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/contact-form-7/includes/js/scriptsc1f9.js?ver=4.4.2'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/easing62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/retina62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/jquery.nicescroll.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/jquery.sticky62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/jquery.isotope.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/jquery.prettyPhoto62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/jquery.fitvids62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/jquery.bxslider62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/jquery.cookie62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/picker62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/jquery.smartresize62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/jquery.mobilemenu62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/themes/realestate/framework/js/public/custom62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-content/plugins/s2member/s2member-o70ef.js?ws_plugin__s2member_js_w_globals=1&amp;qcABC=1&amp;ver=160503-2358678001'></script>
    <script type='text/javascript' src='~/wp-includes/js/wp-embed.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/core.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/widget.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/position.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/menu.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/wp-includes/js/wp-a11y.min62d0.js?ver=4.5.3'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var uiAutocompleteL10n = { "noResults": "No search results.", "oneResult": "1 result found. Use up and down arrow keys to navigate.", "manyResults": "%d results found. Use up and down arrow keys to navigate." };
        /* ]]> */
    </script>
    <script type='text/javascript' src='~/wp-includes/js/jquery/ui/autocomplete.mine899.js?ver=1.11.4'></script>
    <script type='text/javascript' src='~/wp-content/plugins/dsidxpress/js/autocomplete5a0d.js?ver=2.1.40'></script>
    <script type='text/javascript' src='~/wp-includes/js/comment-reply.min62d0.js?ver=4.5.3'></script>
</body>
<!-- Mirrored from wedesignthemes.com/themes/dt-realestate/ by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 12 Feb 2017 16:32:04 GMT -->
</html>