@{ 
    Layout = null;
}
<footer id="footer">
    <div class="container">
        <div class='column dt-sc-one-fourth first'><aside id="my_property_widget-2" class="widget widget_popular_entries"><h3 class="widgettitle">Properties</h3><div class='recent-property-widget'><ul><li><a href='dt_properties/luxury-villa-in-rego-park/index.html' class='thumb'><img src='~/wp-content/uploads/2014/04/property1-150x150.jpg' alt='Luxury Villa In Rego Park' width='150' height='150' /></a><h6><a href='dt_properties/luxury-villa-in-rego-park/index.html'>Luxury Villa In Rego Park</a></h6><span class="property-price">$56000</span></li><li><a href='dt_properties/lovelace-road-greenfield/index.html' class='thumb'><img src='~/wp-content/uploads/2014/04/property2-150x150.jpg' alt='Lovelace Road Greenfield' width='150' height='150' /></a><h6><a href='dt_properties/lovelace-road-greenfield/index.html'>Lovelace Road Greenfield</a></h6><span class="property-price">$45000</span></li><li><a href='dt_properties/land-in-central-park/index.html' class='thumb'><img src='~/wp-content/uploads/2014/04/property3-150x150.jpg' alt='Land In Central Park' width='150' height='150' /></a><h6><a href='dt_properties/land-in-central-park/index.html'>Land In Central Park</a></h6><span class="property-price">$55000</span></li></ul></div></aside></div><div class='column dt-sc-one-fourth '>
            <aside id="my_flickr-2" class="widget flickrbox">
                <h3 class="widgettitle">Photos from Flickr</h3><div class='flickr-widget'>
                    <script type="text/javascript"
                            src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=random&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08"></script>
                </div>
            </aside>
        </div><div class='column dt-sc-one-fourth '>
            <aside id="categories-3" class="widget widget_categories">
                <h3 class="widgettitle">Categories</h3>		<ul>
                    <li class="cat-item cat-item-2">
                        <a href="category/apartment/index.html">Apartment</a>
                    </li>
                    <li class="cat-item cat-item-76">
                        <a href="category/post-format-audio/index.html">Audio</a>
                    </li>
                    <li class="cat-item cat-item-9">
                        <a href="category/cottage/index.html">Cottage</a>
                    </li>
                    <li class="cat-item cat-item-21">
                        <a href="category/magazine/index.html">Magazine</a>
                    </li>
                    <li class="cat-item cat-item-3">
                        <a href="category/retail/index.html">Retail</a>
                    </li>
                    <li class="cat-item cat-item-4">
                        <a href="category/technical/index.html">Technical</a>
                    </li>
                    <li class="cat-item cat-item-75">
                        <a href="category/post-format-video/index.html">Video</a>
                    </li>
                </ul>
            </aside>
        </div><div class='column dt-sc-one-fourth '>
            <aside id="text-3" class="widget widget_text">
                <h3 class="widgettitle"> Contact Info </h3>			<div class="textwidget">
                    <p>105, B Block, Wesr Street, London, BCA, United Kingdom</p>

                    <p> <span class='fa fa-phone'> </span> <strong>Phone</strong> : 1800-299-234-22 </p>

                    <p> <span class='fa fa-envelope-o'> </span> <strong>Email</strong> : <a href='mailto:realestate@someemail.com'>realestate@someemail.com</a> </p>

                    <p> <span class='fa fa-globe'> </span> <strong>Website</strong> : <a href=http://www.yourdomain.com />yourdomain.com</a> </p>

                    <ul class='dt-sc-social-icons'>
                        <li><a href='#'><img src='~/wp-content/plugins/designthemes-core-features/shortcodes/images/sociable/hover/twitter.png' /><img src='~/wp-content/plugins/designthemes-core-features/shortcodes/images/sociable/twitter.png' /></a></li>
                        <li><a href='#'><img src='~/wp-content/plugins/designthemes-core-features/shortcodes/images/sociable/hover/youtube.png' /><img src='~/wp-content/plugins/designthemes-core-features/shortcodes/images/sociable/youtube.png' /></a></li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
    <div class="copyright">
        <div class="container">Copyright &copy; 2014 RealEstateTheme All Rights Reserved. | <a href="http://themeforest.net/user/designthemes" title=""> Design Themes </a></div>
    </div>

</footer>
